<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>STEMChat</title>
    <link rel="shortcut icon" href="./favicon.ico">
    <link rel="stylesheet" href="/css/pure_css.css">
    <link rel="stylesheet" href="css/feedback.css">
</head>

<body>



    <div  class="topnav" id="myTopnav1">
        <a href="javascript:void(0);" class="icon" onclick="myFunction1()">
            <i>☰</i>
        </a>
        
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
            <a href='<%=about%>' class="active">About</a>
            <%if(curr_user){%>
                <a href='<%=home%>'>Home</a>
                <%}%>
           <a href='<%=blog%>'>Blogs</a>
            <a href='<%=project%>'>Projects</a>
            <a href='/'>Public Groups</a>
            <a href='<%=feedback%>'>Feedback</a>
            <%if(curr_user){%>
            <a href='<%=profile%>'>Profile</a>
            <%}%>
            <%if(!curr_user){%>
                <a href='<%=home%>'>Login</a>
                <%}%>
            <%if(curr_user){%>
                <a href="<%=logout%>">Logout</a>
                <%}%>

        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->

    </div>
    <div id="layout">
        <div id="main">
            <div class="content">
                <h2 class="content-subhead">About</h2>
                <hr>
                </hr>

                <div class="topnav" id="myTopnav2">
                    <a href='<%=about%>' class="active">About</a>
                    <a href='<%=FAQ%>'>FAQ</a>
                    <a href='<%=Terms%>'>Terms of Service</a>
                    <a href='<%=privacy%>'>Privacy</a>

                    <a href="javascript:void(0);" class="icon2" onclick="myFunction2()">
                        <i> &#x2630</i>
                    </a>
                </div>


                <h2>About Coool STEM Games</h2>
                <p>Collaborative Open Online and Ongoing Learning through STEM games, activities and projects and earn
                    badges from the referees!</p>
                <h3> Our Admins</h3>
                <ul>
                    <li>
                        1.Mahesh Tirthakar
                    </li>
                    <li>
                        2.Ashish Pardeshi
                    </li>
                    <li>
                        3.Surendra
                    </li>
                    <li>
                        ...
                    </li>
                </ul>
                <hr>
                </hr>
                <h3> Our Refrees</h3>
                <ul>
                    <li>
                        1.Mahesh Tirthakar
                    </li>
                    <li>
                        2.Ashish Pardeshi
                    </li>
                    <li>
                        3.Surendra
                    </li>
                    <li>
                        ...
                    </li>
                </ul>

            </div>

            <div class='foot'>
                <p> MADE BY BITS 2020</p>
            </div>


        </div>
    </div>

    <script src="/js/ui.js"></script>

    <script>
         function myFunction1() {
            var x = document.getElementById("myTopnav1");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
        function myFunction2() {
            var x = document.getElementById("myTopnav2");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>



<!-- added here to be condeensed later -->


<style>
    @media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {
            display: none;
        }

        .topnav a.icon {
            float: left;
            display: block;
        }
        .topnav a.icon2 {
            float: right;
            display: block;
        }
    }

    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    @media screen and (max-width: 600px) {
        .topnav.responsive {
            position: relative;
        }

        .topnav.responsive a.icon {
            float: left;
            display: block;
        }

        .topnav.responsive a.icon2 {
            position: absolute;
            right: 0;
            top: 0;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    }

    .topnav {
        background-color: #333;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add an active class to highlight the current page */
    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        display: none;
    }
    .topnav .icon2 {
        display: none;
    }




    /* --------------- */



    ._topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    ._topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    ._topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        background-color: #333;
        text-align: center;
    }

    /* Style the hamburger menu */
    ._topnav a._icon {
        background: #333;
        float: left;
        display: block;
    }

    /* Add a grey background color on mouse-over */
    ._topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    ._topnav a._active {
        background-color: #4CAF50;
        color: white;
        text-align: center;
    }
</style>

</html>
