<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>STEMChat</title>
    <link rel="stylesheet" href="/css/pure_css.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <!-- <link rel="stylesheet" href="css/blog.css"> -->
</head>

<body>

    <div class="_topnav">
        <a href="javascript:void(0);" class="_icon" onclick="_myFunction2()">
            <i>☰</i>
        </a>
        <a href='<%=blog%>' class="_active">Blogs</a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
            <a href='<%=home%>'>Home</a>
            <a href='<%=about%>'>About</a>
            <a href='<%=project%>'>Projects</a>
            <a href='<%=feedback%>'>Feedback</a>
            <a href='<%=profile%>'>Profile</a>
            <a href="<%=logout%>">Logout</a>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->

    </div>

    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1">
            <div class="header">
                <h1 class="brand-title">Groups</h1>
                <h2 class="brand-tagline"></h2>
                <h4>
                    Join the Relevant Groups and Collaborate in this Learning process
                </h4>

                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <!-- <a class="pure-button" href="http://purecss.io">Pure</a> -->
                        </li>
                        <li class="nav-item">
                            <!-- <a class="pure-button" href="http://yuilibrary.com">YUI Library</a> -->
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div id="main">

            <div class="content pure-u-1 pure-u-md-1">

                <!-- A wrapper for all the blog posts -->
                <h1>

                    <%= body.group.name%>
                    <img id="plus" src="<%= body.group.flair_url%>">
                </h1>
                <h2>
                    <%= body.group.name%>
                </h2>
                <p class="post-description"> <%= body.group.bio_raw%></p>
                <p class="post-description"><%=body.group.membership_request_template%></p>
                <a class="tab" href="#">Request</a>
                <button class="tablink" onclick="openPage('Users_list', this, 'green')">Users</button>
                <button class="tablink" onclick="openPage('News', this, 'green')" id="defaultOpen">Posts</button>


                <div id="Users_list" class="tabcontent">

                    <%for(var i=0;i<members.length;i++){%>


                    <section class="post">
                        <header class="post-header">
                            <%var str=members[i].avatar_template %>
                            <%str=str.replace("{size}","80")%>
                            <%str="https://t2.metastudio.org"+str%>




                            <h3><%=i+1+". "%><%=members[i].name%><img id="plus2" src='<%=str%>'></h3>

                            <h1 class="content-subhead">@<%=members[i].username%></h1>


                        </header>

                        <div class="post-description elip_here">
                            <p class="para">


                            </p>

                        </div>

                    </section>
                    <%}%>

            </div>
            <div id="News" class="tabcontent">
                <%for(var i=0;i<posts.length;i++){%>


                    <section class="post">
                        <header class="post-header">
                            <%var str=posts[i].user.avatar_template %>
                            <%str=str.replace("{size}","80")%>
                            <%str="https://t2.metastudio.org"+str%>




                            <h3><a
                                    href="/post<%=posts[i].url%>"><%=i+1+". "%><%=posts[i].title%></a><img
                                    id="plus2" src='<%=str%>'></h3>

                            <h1 class="content-subhead">@<%=posts[i].user.name%></h1>


                        </header>

                        <div class="post-description elip_here">

                            <p class="para">
                                <%=(posts[i].excerpt).replace("''","")%>
                            </p>


                        </div>

                    </section>
                    <%}%>







              </div>







                <div class="footer">
                    <div class="pure-menu pure-menu-horizontal">

                        <center>
                            <div class='foot'>
                                <p> MADE BY BITS 2020</p>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>







    <script src="/js/ui.js"></script>

    <script>
        function _myFunction2() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
    <script>
        function openPage(pageName, elmnt, color) {
            // Hide all elements with class="tabcontent" by default */
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }

            // Show the specific tab content
            document.getElementById(pageName).style.display = "block";

            // Add the specific color to the button used to open the tab content
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
</body>



<!-- added here to be condeensed later -->


<style>

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        color: #777;
        background-color: beige;
    }

    a {
        text-decoration: none;
        color: rgb(61, 146, 201);
    }


/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  margin-top: 1em;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color:black;
  display: none;
  padding: 100px 20px;
  height: 100%;
  background-color:white;
  margin-top: 1em;
}


    .foot {
        font-size: 87.5%;
        border-top: 1px solid #000;
        margin-top: 0em;
        padding: 1.1429em;
        background: #fafafa;
    }

    a:hover,
    a:focus {
        text-decoration: underline;
    }

    h3 {
        font-weight: 100;
    }

    /* LAYOUT CSS */
    .pure-img-responsive {
        max-width: 100%;
        height: auto;
    }

    #layout {
        padding: 0;
    }

    .header {
        text-align: center;
        top: auto;
        margin: auto;
    }

    .sidebar {
        background: rgb(13, 150, 66);
        color: #fff;
    }

    .brand-title,
    .brand-tagline {
        margin: 0;
    }

    .brand-title {
        text-transform: uppercase;
    }

    .brand-tagline {
        font-weight: 300;
        color: rgb(176, 202, 219);
    }

    .nav-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav-item {
        display: inline-block;
        *display: inline;
        zoom: 1;
    }

    .nav-item a {
        background: transparent;
        border: 2px solid rgb(176, 202, 219);
        color: #fff;
        margin-top: 1em;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: 85%;
    }

    .nav-item a:hover,
    .nav-item a:focus {
        border: 2px solid rgb(61, 146, 201);
        text-decoration: none;
    }

    .content-subhead {
        text-transform: uppercase;
        color: #aaa;
        border-bottom: 1px solid #eee;
        padding: 0.4em 0;
        font-size: 80%;
        font-weight: 500;
        letter-spacing: 0.1em;
    }

    #main {
        background-color: #fff;
        margin: auto;
        width: 80%;
        display: inline-block;
        align-content: center;
        align-items: center;
        position: relative;
        border: 5px;
        border-radius: 30px;
    }

    .content {
        padding: 2em 1em 0;
    }

    .post {
        padding-bottom: 2em;
    }

    .post-title {
        font-size: 2em;
        color: #222;
        margin-bottom: 0.2em;
    }

    .post-avatar {
        border-radius: 50px;
        float: right;
        margin-left: 1em;
    }

    .post-description {
        font-family: Georgia, "Cambria", serif;
        color: #444;
        line-height: 1em;
        font-weight: 200;
        font-size: large;
        text-align: justify;
    }

    .post-meta {
        color: #999;
        font-size: 90%;
        margin: 0;
    }

    .post-category {
        margin: 0 0.1em;
        padding: 0.3em 1em;
        color: #fff;
        background: #999;
        font-size: 80%;
    }

    .post-category-design {
        background: #5aba59;
    }

    .post-category-pure {
        background: #4d85d1;
    }

    .post-category-yui {
        background: #8156a7;
    }

    .post-category-js {
        background: #df2d4f;
    }

    .post-images {
        margin: 1em 0;
    }

    .post-image-meta {
        margin-top: -3.5em;
        margin-left: 1em;
        color: #fff;
        text-shadow: 0 1px 1px #333;
    }

    .footer {
        padding: 1em 0;
    }

    .footer a {
        color: rgb(7, 7, 7);
        font-size: 80%;
    }

    .footer .pure-menu a:hover,
    .footer .pure-menu a:focus {
        background: none;
    }

    @media(min-width: 48em) {
        .foot {
            width: 100%;
            height: auto;
        }

        .content {
            padding: 2em 10em 10em;
        }

        .header {
            text-align: center;
            top: auto;
            padding: 2em;
            margin: auto;


        }

        #main {
            width: 80%;
            height: auto;

        }
    }

    .tab {
        display: block;
        width: 115px;
        height: 25px;
        background: grey;

        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }

    .para {
        text-align: justify;
        font-size: 20px;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

    }

    #plus {
        height: 6rem;
        width: 6rem;
        position: relative;
        float: right;

    }
    #plus2 {
        border-radius: 50%;
        position: relative;
        float: right;

    }

    @media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {
            display: none;
        }

        .topnav a.icon {
            float: right;
            display: block;
        }
    }

    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    @media screen and (max-width: 600px) {
        .topnav.responsive {
            position: relative;
        }

        .topnav.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    }

    a.link_head {
        color: black;
    }

    .topnav {
        background-color: #333;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add an active class to highlight the current page */
    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        display: none;
    }



    /* --------------- */



    ._topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    ._topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    ._topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        background-color: #333;
        text-align: center;
    }

    /* Style the hamburger menu */
    ._topnav a._icon {
        background: #333;
        float: left;
        display: block;
    }

    /* Add a grey background color on mouse-over */
    ._topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    ._topnav a._active {
        background-color: #4CAF50;
        color: white;
        text-align: center;
    }
</style>

</html>