<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>STEMChat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/pure_css.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <!-- <link rel="stylesheet" href="css/blog.css"> -->
    <style>
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
    }

        .myButton {
	background-color:#0E76BD;
	border-radius:2rem;
	border:1px solid #0E76BD;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 0.8;
	padding:0.3rem 0.5rem;
    text-decoration:none;
    margin-top: 1rem;
}
    </style>
</head>

<body>

    <div class="topnav" id="myTopnav1">
        <a href="javascript:void(0);" class="icon" onclick="myFunction1()">
            <i>☰</i>
        </a>

        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
            <a href='javascript:history.back()' class="active">Go Back</a>
            <%if(curr_user){%>
            <a href='<%=home%>'>Home</a>
            <%}%>
            <a href='<%=about%>'>About</a>
            <a href='<%=blog%>'>Blogs</a>
            <a href='<%=project%>'>Projects</a>
            <a href="/">Groups</a>
            <a href='<%=feedback%>'>Feedback</a>
            <%if(curr_user){%>
            <a href='<%=profile%>'>Profile</a>
            <%}%>
            <%if(!curr_user){%>
            <a href='<%=home%>'>Login</a>
            <%}%>
            <%if(curr_user){%>
            <a href="<%=logout%>">Logout</a>
            <%}%>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->

    </div>

    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1">
            <div class="header">
                <h1 class="brand-title"><%=topic_head.name%></h1>
                <h2 class="brand-tagline"></h2>
                <p>
                    <%=topic_head.description%>
                </p>
            </div>
        </div>

        <div id="main">

            <div class="content pure-u-1 pure-u-md-1">



            <button class="tablink" onclick="openPage('Users_list', this, 'green')">Users</button>
            <button class="tablink" onclick="openPage('News', this, 'green')" id="defaultOpen">Topics</button>


            <div id="Users_list" class="tabcontent">

              <%if(body3 && body3.users){%>
                <%for(var i=0;i<body3.users.length;i++){%>



                <section class="post">
                    <header class="post-header">
                        <%var str=body3.users[i].avatar_template %>
                        <%str=str.replace("{size}","80")%>
                        <%str="https://t2.metastudio.org"+str%>




                        <h3><a class="name_" href="/user/<%=body3.users[i].username%>"><%=body3.users[i].name%></a><img id="plus2" src='<%=str%>' onerror="this.onerror=null;this.src='/stemlogo.png';"></h3>

                        <h1 class="content-subhead">@<%=body3.users[i].username%></h1>


                    </header>



                </section>
                <%}%>
                <%}%>


            </div>
            <div id="News" class="tabcontent">
                  <%if(body3 && body3.topic_list){%>
                <%for(var i=0;i<body3.topic_list.topics.length;i++){%>


                <section class="post">
                    <header class="post-header">



                        <%var str;%>
                       <% if(body3.topic_list.topics[i].image_url!=null){%>
                        <%str=body3.topic_list.topics[i].image_url;%>
                       <% }%>
                       <% if(body3.topic_list.topics[i].image_url===null){%>
                        <%str="/stemlogo.png";%>
                       <% }%>





                        <h3><a class="name_" href="/post/t/<%=body3.topic_list.topics[i].slug%>/<%=body3.topic_list.topics[i].id%>/1"><%=body3.topic_list.topics[i].title%></a><img height="100" width="100" id="plus2" src='<%=str%>' onerror="this.onerror=null;this.src='/stemlogo.png';"></h3>
                        <%if(body3.topic_list.topics[i].last_poster_username!=null){%>
                        <h1 class="content-subhead">@<%=body3.topic_list.topics[i].last_poster_username%></h1>
                        <%}%>
                            <%if(body3.topic_list.topics[i].last_poster_username==null){%>
                        <h1 class="content-subhead"></h1>
                        <%}%>

                        </header>

                        <div class="post-description elip_here">





            </div>

            </section>
            <%}%>
            <%}%>

            <div id="holder2">

            </div>
            <form>
                <button type="button" id="HButton2"> Load More </button>
            </form>
            </div>





            <img id="plus" src="/plus.png">

                <div class="footer">
                    <div class="pure-menu pure-menu-horizontal">

                        <center>
                            <!-- <div class='foot'>
                                <p> MADE BY BITS 2020</p>
                            </div> -->
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span  style="cursor:pointer" class="close">✖</span>
        <h1>Create Topic</h1>
        <form action="/group/<%=topic_head.slug%>/<%=topic_head.id%>" method="POST">

          <input type="text" name="title" required='' autocomplete="off" placeholder="Title"> <br>
          <input type="text" name="desc" required='' autocomplete="off" placeholder="Description"> <br>
          <select id = "multi-role" name='category' required="" placeholder=''>
              <option value="<%=topic_head.id%>"  selected><%=topic_head.name%></option>
          </select>
          <br>
          <button type="submit" id='on_but' name='create_topic'>Create</button>

        </form>

      </div>
      <%if(curr_user){%>
      <div class="user">

      </div>
      <%}%>
    </div>






    <script src="/js/ui.js"></script>
    <script>
    function alert_func() {
      alert('Kindly Login First');
    }
      function _myFunction2() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the button that opens the modal
      var btn = document.getElementById("plus");


      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks the button, open the modal
      $(document).ready(function () {  btn.addEventListener('click',  ()=> {

          if (document.querySelector('.user')) {
            modal.style.display = "block";
          } else {
            alert_func();
          }
        });

      });



      // When the user clicks on <span> (x), close the modal
      span.onclick = function () {
        modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }


    </script>
    <script>

           var my_div = $("#holder2");
           var l=1;
            $("#HButton2").on("click", function () {
                console.log("hi");
                   $.ajax({
                    url: "/group/<%=topic_head.slug%>/<%=topic_head.id%>/load/"+l
                })
                    .done(function (data) {
                        var elements = '';
                        for(var i=0;i<data.topic_list.topics.length;i++){
                            var str='/stemlogo.png'
                            if(data.topic_list.topics[i].image_url){
                            str=data.topic_list.topics[i].image_url ;
                            }
                            elements = elements +'<section class='+"post"+'>'+'<header class="post-header">'+'<h3>'+'<a class="name_" href="/post/t/'+data.topic_list.topics[i].slug+"/"+data.topic_list.topics[i].id+'/1">'+data.topic_list.topics[i].title+'</a>'+'<img height="100" width="100" id="plus2" src='+str+'>'+'</h3>'+ '<h1 class="content-subhead">'+ "@"+data.topic_list.topics[i].last_poster_username +'</h1>'+ '</header>'+'<div class="post-description elip_here">'+'</div>'+'</section>';
                        }
                        l=l+1;
                        console.log(l);
                        $('#holder2').append(elements);
                    });
            });
    </script>



                <script>
                    function myFunction1() {
                        var x = document.getElementById("myTopnav1");
                        if (x.className === "topnav") {
                            x.className += " responsive";
                        } else {
                            x.className = "topnav";
                        }
                    }
                    function myFunction() {
                        var x = document.getElementById("myTopnav");
                        if (x.className === "topnav") {
                            x.className += " responsive";
                        } else {
                            x.className = "topnav";
                        }
                    }
                </script>
                <script>
                    function openPage(pageName, elmnt, color) {
                        // Hide all elements with class="tabcontent" by default */
                        var i, tabcontent, tablinks;
                        tabcontent = document.getElementsByClassName("tabcontent");
                        for (i = 0; i < tabcontent.length; i++) {
                            tabcontent[i].style.display = "none";
                        }

                        // Remove the background color of all tablinks/buttons
                        tablinks = document.getElementsByClassName("tablink");
                        for (i = 0; i < tablinks.length; i++) {
                            tablinks[i].style.backgroundColor = "";
                        }

                        // Show the specific tab content
                        document.getElementById(pageName).style.display = "block";

                        // Add the specific color to the button used to open the tab content
                        elmnt.style.backgroundColor = color;
                    }

                    // Get the element with id="defaultOpen" and click on it
                    document.getElementById("defaultOpen").click();
                </script>
</body>



<!-- added here to be condeensed later -->


<style>
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .name_ {
        color: rgb(41, 38, 38);
        font-size: larger;
        text-decoration: none;
    }

    body {
        color: #777;
        background-color: beige;
    }

    .anchor {
        text-decoration: none;
        color: rgb(19, 20, 20);
        font-weight: bolder;
    }


    /* Style tab links */
    .tablink {
        background-color: #555;
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
        margin-top: 1em;
    }

    .tablink:hover {
        background-color: #777;
    }
    @media (max-width:600px)
{
   .tablink{
       width:30%;
   }
}
    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        color: black;
        display: none;
        padding: 100px 20px;
        height: 100%;
        background-color: white;
        margin-top: 1em;
    }


    .foot {
        font-size: 87.5%;
        border-top: 1px solid #000;
        margin-top: 0em;
        padding: 1.1429em;
        background: #fafafa;
    }

    a:hover,
    a:focus {
        text-decoration: underline;
    }

    h3 {
        font-weight: 100;
    }

    /* LAYOUT CSS */
    .pure-img-responsive {
        max-width: 100%;
        height: auto;
    }

    #layout {
        padding: 0;
    }

    .header {
        text-align: center;
        top: auto;
        margin: auto;
    }

    .sidebar {
        background: rgb(13, 150, 66);
        color: #fff;
    }

    .brand-title,
    .brand-tagline {
        margin: 0;
    }

    .brand-title {
        text-transform: uppercase;
    }

    .brand-tagline {
        font-weight: 300;
        color: rgb(176, 202, 219);
    }

    .nav-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav-item {
        display: inline-block;
        *display: inline;
        zoom: 1;
    }

    .nav-item a {
        background: transparent;
        border: 2px solid rgb(176, 202, 219);
        color: #fff;
        margin-top: 1em;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: 85%;
    }

    .nav-item a:hover,
    .nav-item a:focus {
        border: 2px solid rgb(61, 146, 201);
        text-decoration: none;
    }

    .content-subhead {
        text-transform: uppercase;
        color: #aaa;
        border-bottom: 1px solid #eee;
        padding: 0.4em 0;
        font-size: 80%;
        font-weight: 500;
        letter-spacing: 0.1em;
    }

    #main {
        background-color: #fff;
        margin: auto;
        width: 80%;
        display: inline-block;
        align-content: center;
        align-items: center;
        position: relative;
        border: 5px;
    }

    .content {
        padding: 2em 1em 0;
    }

    .post {
        padding-bottom: 2em;
    }

    .post-title {
        font-size: 2em;
        color: #222;
        margin-bottom: 0.2em;
    }

    .post-avatar {
        border-radius: 50px;
        float: right;
        margin-left: 1em;
    }

    .post-description {
        font-family: Georgia, "Cambria", serif;
        color: #444;
        line-height: 1em;
        font-weight: 200;
        font-size: large;
        text-align: justify;
    }

    .post-meta {
        color: #999;
        font-size: 90%;
        margin: 0;
    }

    .post-category {
        margin: 0 0.1em;
        padding: 0.3em 1em;
        color: #fff;
        background: #999;
        font-size: 80%;
    }

    .post-category-design {
        background: #5aba59;
    }

    .post-category-pure {
        background: #4d85d1;
    }

    .post-category-yui {
        background: #8156a7;
    }

    .post-category-js {
        background: #df2d4f;
    }

    .post-images {
        margin: 1em 0;
    }

    .post-image-meta {
        margin-top: -3.5em;
        margin-left: 1em;
        color: #fff;
        text-shadow: 0 1px 1px #333;
    }

    .footer {
        padding: 1em 0;
    }

    .footer a {
        color: rgb(7, 7, 7);
        font-size: 80%;
    }

    .footer .pure-menu a:hover,
    .footer .pure-menu a:focus {
        background: none;
    }

    @media(min-width: 48em) {
        .foot {
            width: 100%;
            height: auto;
        }

        .content {
            padding: 2em 10em 10em;
        }

        .header {
            text-align: center;
            top: auto;
            padding: 2em;
            margin: auto;


        }

        #main {
            width: 80%;
            height: auto;

        }
    }

    .tab {
        display: block;
        width: 115px;
        height: 25px;
        background: grey;

        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }

    .para {
        text-align: justify;
        font-size: 20px;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

    }

    .para img {
        height: 1em;
        width: 1em;
    }

    #plus{
        width: 4rem;
        height: 4rem;
        position: fixed;
        bottom: 1rem;
        right: 4.5rem;
        z-index: 100;
        opacity: 0.5;
    }
    #plus:hover {
        opacity: 1.0;
    }

    #plus2 {
        border-radius: 50%;
        position: relative;
        float: right;

    }

    @media screen and (max-width: 600px) {
      #plus{
          width: 2.5rem;
          height: 2.5rem;
          position: fixed;
          bottom: 1rem;
          right: 1.5rem;
          z-index: 100;
          opacity: 0.5;
      }
      #plus:hover {
          opacity: 1.0;
      }
    }
        .topnav a:not(:first-child) {
            display: none;
        }

        .topnav a.icon {
            float: left;
            display: block;
        }
    }

    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    @media screen and (max-width: 600px) {
        .topnav.responsive {
            position: relative;
        }

        .topnav.responsive a.icon {
            float: left;
            display: block;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    }

    a.link_head {
        color: black;
    }

    .topnav {
        background-color: #333;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add an active class to highlight the current page */
    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        display: none;
    }



    /* --------------- */



    ._topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    ._topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    ._topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        background-color: #333;
        text-align: center;
    }

    /* Style the hamburger menu */
    ._topnav a._icon {
        background: #333;
        float: left;
        display: block;
    }

    /* Add a grey background color on mouse-over */
    ._topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    ._topnav a._active {
        background-color: #4CAF50;
        color: white;
        text-align: center;
    }
</style>

</html>
