<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>NROER 2.0</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/js/jquery.min.js"></script>
  <script src='/js/jquery-ui.min.js'></script>
  <link rel="stylesheet" href="/css/quill.css">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/chat.css">
  <script async = "true"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/MathJax.js?config=AM_CHTML-full">
  </script>
</head>

<body>
  <div style="display: none;" id="curr_user" name='<%=curr_user.username%>'>
  </div>
  <div style="display: none;" id="curr_user_id" name='<%=curr_user.id%>'>
  </div>
  <div style="display: none;" id="url" name='<%=url%>'>
  </div>
  <div style="display: none;" id="tid"></div>
  <div style="display: none;" id="page_url" name='<%=page_url%>'></div>
  <div style="display: none;" id="posts_count" name='<%=topic_data.posts_count%>'></div>
  <div style="display: none;" id="specific_posts_page" name='<%=specific_posts_page%>'></div>
  <div style="display: none;" id="category_details" data-slug="" data-title=""></div>

  <%# <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> %>
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <div id="container" class="container">
    <div id="mySidebar" class="sidebar">

      <a href="/">Home</a>
      <a id="login_link" href="/login">Login</a>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">✖</a>
      <a onClick='function_partners()'>Partners</a>
      <a onClick='function_courses()'>Courses</a>
      <a onClick='function_category_common()'>Categories</a>
      <a href="#" onclick="open_page()">About</a>
      <%if (false) {%> 
      <a href='<%=about%>'>About</a>
      <a href='<%=home%>'>Chat</a>
      <a href='<%=blog%>'>Blogs</a>
      <a href='<%=project%>'>Projects</a>

      <a href='<%=feedback%>'>Feedback</a>
      <%}%>
      <a href='<%=profile%>'>Profile</a>
      <a id="logout_link" style="display: none;" onclick="logout(this)">Logout</a>

    </div>

    <div class="panel messages-panel">
      <div class="contacts-list">
        <div class="header">
          <button class="openbtn" onclick="openNav()">☰</button>
        </div>
        <div class="inbox-categories" style="display: none;">

          <div data-toggle="tab" data-target="#inbox" class="active _right" id="new_message"
            class="btn btn btn-success new-message"> <i class="fa fa-envelope"></i> </div>

        </div>
        <div class="dropdown-menu_">
          <button id="menu_active" class="menu-btn">Latest</button>
          <div class="top_header_search_box"><input style="display: none" type="text" id="myInput" onkeyup="myFunc()" name="search" placeholder="Search"><i id="search_icon" class="fa fa-search icon"></i>
          <!-- <button style="display: none" id="search_clear_btn">Clear</button> -->
          </div>

          <div class="menu-content">
            <%if (false) {%>
            <div id="private_click" class="pointer links" onClick='function_pvt()'>
              <li id="private" class="" data-toggle="" data-target="">
                <h4 class="menu_move">
                  <!-- <i class="fa fa-user dropdown-content1" aria-hidden="true"></i> -->
                  <img src="/images/icons/noun_Email_3449902.png" class="dropdown-content1" />
                  Private Messages</h4>
              </li>
            </div>
            <div id="group_click" class="pointer links" onClick='function_category()'>
              <li id="group" class="" data-toggle="" data-target="">
                <h4 class="menu_move">
                  <!-- <i style="font-size:18px" class="fa dropdown-content2">&#xf0c0;</i> -->
                  <img src="/images/icons/noun_group_195974.png" class="dropdown-content2"/>
                  Groups</h4>
              </li>
            </div>
            <% } %>
            <div id="partner_click" class="pointer links" onClick='function_partners()'>
              <li id="partner" class="" data-toggle="" data-target="">
                <h4 class="menu_move">
                  <!-- <i class="fa fa-user dropdown-content1" aria-hidden="true"></i> -->
                  <img src="/images/icons/noun_Partner_1133237.png" class="dropdown-content1" />
                  Partners</h4>
              </li>
            </div>
            <div id="course_click" class="pointer links" onClick='function_courses()'>
              <li id="course" class="" data-toggle="" data-target="">
                <h4 class="menu_move">
                  <!-- <i style="font-size:18px" class="fa dropdown-content2">&#xf0c0;</i> -->
                  <img src="/images/icons/noun_online_course_3306259.png" class="dropdown-content2"/>
                  Courses</h4>
              </li>
            </div>
            <div id="category_click" class="pointer links" onClick='function_category_common()'>
              <li id="category" class="" data-toggle="" data-target="">
                <h4 class="menu_move">
                  <!-- <i class="fa fa-list-alt dropdown-content3" aria-hidden="true"></i> -->
                  <img src="/images/icons/noun_Category_2706222.png" class="dropdown-content3" />            
                  Categories</h4>
                <h5>
                </h5>
              </li>
            </div>
            <div id="latest_click" class="pointer links" onClick='function_latestposts()'>
              <li id="latest" class="" data-toggle="" data-target="">
                <h4 class="menu_move">
                  <!-- <i class="fa fa-list-alt dropdown-content3" aria-hidden="true"></i> -->
                  <img src="/images/icons/noun_update_1653023.png" class="dropdown-content3" />            
                  Latest</h4>
                <h5>
                </h5>
              </li>
            </div>

          </div>
        </div>
        <div class="tab-content">


          <div id="inbox" class="contacts-outter-wrapper tab-pane active">
<!--             <div class="im_diaglog_search">
            <file class="panel-search-form info form-group has-feedback no-margin-bottom">
              <div id="search_box" class="input-icons"> 
                <i class="fa fa-search icon"> 
                </i> 
              <input type="text" id="myInput" onkeyup="myFunc()" class="form-control input-field" name="search"
                placeholder="Search">
              <span class="fa fa-search form-control-feedback"></span>
              </div>
            </form> 
            </div> -->

            <div class="contacts-outter">

              <ul id="myUL" class="list-unstyled contacts">




                <div id="holder2">


                </div>
                <div id="holder4">


                </div>
                <div id="holder5">


                </div>
                <div id="holder6">


                </div>
                <div id="holder7" >

                  <%if(page_url == "topic"){%>
                  <div><li id="<%= topic_data.title%>" class="active" data-toggle="tab" data-target="#inbox-message-0"><!-- <div class="message-count"><%= topic_data ? topic_data.posts_count : "0" %></div> --><img alt="" class="img-circle medium-image" src="https://bootdey.com/img/Content/avatar/avatar1.png"><div class="vcentered info-combo"><h3 class="no-margin-bottom name"><b><%= topic_data.title%></b> </h3><h5>Latest by:<%=topic_data.details.last_poster.username%></h5></div><div class="contacts-add">
                    <span class="message-time">
                    <%var year_month = topic_data.last_posted_at.split("T")[0];time = topic_data.last_posted_at.split("T")[1]; %>
                      <%= year_month.split("-")[2]+"/"+year_month.split("-")[1] %><br>
                      <%= time.split(":")[0]+":"+time.split(":")[1] %>
                    <sup></sup></span><!-- <i class="fa fa-trash-o"></i><div><i class="fa fa-share-alt "></i> </div> --></div></li></div>
                  <%}%>
                </div>
                <div id="holder8" style="display:none;"></div>
                <div id="holder9"></div>
                <div id="holder10"></div>
                <div id="holder11"></div>
              </ul>
            </div>

          </div>

        </div>
      </div>

      <div class="tab-content">
        <%if(page_url != "topic"){%>
        <div id="right_panel_msg" class="centered_text">Search or Navigate through categories to access open educational resources</div>
        <%}%>
        <div class="tab-pane message-body" id="inbox-message-1">
          <div class="message-top">
          
              <div id="slug">
                <%if(page_url == "topic"){%> <h4 id="topic_head">  <%if(topic_data){%> <%=topic_data.title%> <%}%> </h4> <%}%>
              </div>
          
            <button id="back_" class="mobile_backbtn" onclick="my_func2()"><img src="/images/icons/noun_back_2784520.png" style="height:35px;width:35px;"/></button>
            <div class="new-message-wrapper">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Send message to...">
                <a class="btn btn-danger close-new-message" href="#"><i class="fa fa-times"></i></a>
              </div>

              <div class="chat-footer new-message-textarea">
                <textarea class="send-message-text"></textarea>
                <label class="upload-file">
                  <input type="file" required="">
                  <i class="fa fa-share-alt"></i>
                </label>
                <button type="button" class="send-message-button btn-info"> <i class="fa fa-send"></i> </button>
              </div>
            </div>
          </div>

          <div class="message-chat">
            <div id="chat_" class="chat-body">
              <%if(topic_data && topic_data.post_stream && (topic_data.post_stream.posts[0].post_number != post_number ) && post_number != "" ){%>
                <button style="display: block" id="load_previous_posts" onclick="load_more(this)">Load Previous Posts</button>
              <% } else if(page_url!="topic" || page_url=="topic"){ %>
                <button style="display: block" id="load_previous_posts" onclick="load_more(this)">Load Previous Posts</button>
              <%} else  {%>
                <button style="display: none" id="load_previous_posts" onclick="load_more(this)">Load Previous Posts</button>
              <%}%>
              <div id="holder3">
                <%if(topic_data){%>
                <% var temp = false %>
                <% var display = 'style=display:none;' %>
                <textarea id="post_ids" style="display: none;">
                  <%= topic_data.post_stream.stream.slice(  (20* ((Math.ceil((topic_data.post_stream.stream.indexOf((Number(topic_data.post_stream.posts[0].id)))-1) / 20)-1)  )) ,(Number(topic_data.post_stream.stream.indexOf((Number(topic_data.post_stream.posts[0].id)))+1) -1)  )%>
                  </textarea>
                <%for(var i=0;i<topic_data.post_stream.posts.length;i++){%>
                <% var page_number = Math.ceil((topic_data.post_stream.stream.indexOf((Number(topic_data.post_stream.posts[i].id)))+1) / 20) %>
                <%if( temp == false && post_number!="" && topic_data.post_stream.posts[i].post_number.toString() != post_number ){%>
                  <% display = 'style=display:none;' %>
                <%} else {%>
                  <% display = 'style=display:block;' %>
                  <% temp= true %>
                <%}%>
                <div class="message info" <%= display %> id="msg_<%= topic_data.post_stream.posts[i].topic_id%>_<%= topic_data.post_stream.posts[i].post_number%>_<%= topic_data.posts_count%>_<%= page_number%>" data-post_id="<%=topic_data.post_stream.posts[i].id%>" data-count="<%=topic_data.post_stream.stream.indexOf((Number(topic_data.post_stream.posts[i].id)))+1%>" data-page_number="<%=page_number %>" class="message <%= topic_data.post_stream.posts[i].username === curr_user.username ? 'my-message' : 'my-info' %>">
                  <!-- <img alt="" class="img-circle medium-image" src="<%=url%>user_avatar/<%=url.substring(9)%>/<%=topic_data.post_stream.posts[i].username%>/120/671_2.png"> --><div class="message-body"><div class="message-info"><b><%=topic_data.post_stream.posts[i].username%></b> <div class="msg_datetime"><%var message_datetime = new Date(topic_data.post_stream.posts[i].updated_at).toLocaleString([], { hour: '2-digit', minute: '2-digit' , day: '2-digit', month: '2-digit', year: '2-digit'}).split("/");
                  message_datetime = message_datetime[1]+"/"+message_datetime[0]+"/"+message_datetime[2];%>
                  <%= message_datetime%></div></div>
                 <!--  <i id="reply_btn_<%= topic_data.post_stream.posts[i].topic_id%>_<%= topic_data.post_stream.posts[i].post_number%>" type="button" class="fa fa-reply reply_function" title="<%=topic_data.post_stream.posts[i].cooked%>"></i>
                    <button id="share_btn_<%= topic_data.post_stream.posts[i].topic_id%>_<%= topic_data.post_stream.posts[i].post_number%>_<%= topic_data.post_stream.posts[i].id%>" type="button" data-tslug="<%=topic_data.slug%>" title="share a link to this post" onclick="share_function(this)">Share</button>
                    <%if(topic_data.post_stream.posts[i].username === curr_user.username){%>
                    <button id="delete_btn_<%= topic_data.post_stream.posts[i].topic_id%>_<%= topic_data.post_stream.posts[i].post_number%>_<%= topic_data.post_stream.posts[i].id%>" type="button" data-tslug="<%= topic_data.slug%>" onclick="delete_function(this)">Delete</button>
                    <%}%> -->
                  <hr><div class="message-text"><%- topic_data.post_stream.posts[i].cooked%></div>
                  <i id="reply_btn_<%= topic_data.post_stream.posts[i].topic_id%>_<%= topic_data.post_stream.posts[i].post_number%>" type="button" class="fa fa-reply reply_function" title="<%=topic_data.post_stream.posts[i].cooked%>"></i>
                  <div class="share_btn" id="share_btn_<%= topic_data.post_stream.posts[i].topic_id%>_<%= topic_data.post_stream.posts[i].post_number%>_<%= topic_data.post_stream.posts[i].id%>" type="button" data-tslug="<%=topic_data.slug%>" title="share a link to this post" onclick="share_function(this)"><i class="fa fa-share-alt"></i></div>

                  <%if(Number(topic_data.post_stream.posts[i].reply_count) > 0 && topic_data.post_stream.posts[i+1] && (topic_data.post_stream.posts[i].post_number != topic_data.post_stream.posts[i+1].reply_to_post_number) ) {%>
                  <button id="msg_<%= topic_data.post_stream.posts[i].topic_id%>_<%= topic_data.post_stream.posts[i].post_number%>_<%= topic_data.posts_count%>_<%= page_number%>" data-post_id="<%=topic_data.post_stream.posts[i].id%>" type="button" class="see_replies"> <%= topic_data.post_stream.posts[i].reply_count%>
                    <%= (Number(topic_data.post_stream.posts[i].reply_count) == 1 ? ' Reply': ' Replies') %> </button>
                  <%}%>
                  <div class="like_div">
                  <% var if_block=false %>
                  <%if(topic_data.post_stream.posts[i].actions_summary.length > 0){%>
                    <%for(var j=0;j<topic_data.post_stream.posts[i].actions_summary.length;j++){%>
                      <%if(topic_data.post_stream.posts[i].actions_summary[j].count) {%>
                      <span id="like_count_<%= topic_data.post_stream.posts[i].id%>" style="display: inline-block;"><%=topic_data.post_stream.posts[i].actions_summary[j].count %></span>
                      <% if(topic_data.post_stream.posts[i].username != curr_user.username) {%>
                      <a id="like_icon_<%= topic_data.post_stream.posts[i].id%>" onclick="like_function(this,'/post_actions/<%= topic_data.post_stream.posts[i].id %>/2')"><i class="fa fa-heart"></i></a>
                      <% } else {%>
                      <a id="like_icon_<%= topic_data.post_stream.posts[i].id%>"><i style="color: red;" class="fa fa-heart"></i></a>
                      <%}%>
                      <% if_block = true %>
                      <% break; %>
                      <%}%>
                    <%}%>
                  <%}%>
                  <% if(if_block == false && topic_data.post_stream.posts[i].username != curr_user.username) {%>
                      <span id="like_count_<%= topic_data.post_stream.posts[i].id%>" style="display: inline-block;"></span>
                      <a id="like_icon_<%= topic_data.post_stream.posts[i].id%>" onclick="like_function(this,'/post_actions/<%= topic_data.post_stream.posts[i].id %>/2')"><i class="fa fa-heart"></i></a>
                  <%} else if(if_block == false && topic_data.post_stream.posts[i].username == curr_user.username) {%>
                      <span id="like_count_<%= topic_data.post_stream.posts[i].id%>" style="display: inline-block;"></span>
                      <a id="like_icon_<%= topic_data.post_stream.posts[i].id%>"><i style="color: red;" class="fa fa-heart"></i></a>
                  <%}%>
                </div>

                </div><br>
                </div>
                <%}%>
                <%}%>
              </div>
              <%if(topic_data && topic_data.post_stream.posts && topic_data.post_stream.posts[19]!=undefined ){%>
              <button id="load_next_posts" style="display: none" onclick="load_next_posts(this)">Load Next Posts</button>
              <% var indexoflastpostid = (topic_data.post_stream.stream.indexOf((Number(topic_data.post_stream.posts[19].id)))) %>
              <textarea id="next_post_ids" style="display: none;">
                <%= topic_data.post_stream.stream.slice(  Number(indexoflastpostid) +1 , (Math.ceil(Number((indexoflastpostid+1)/20)) *20)  )%>
              </textarea>
              <%}%>
            </div>
<!--             <center>
              <div>
              
              <div class="chat-footer">
                <button type="button" name="show_toolbar" id="show_toolbar" style="display: none;">👇</button>
                <button type="button" name="hide_toolbar" id="hide_toolbar" style="display:none;">👆</button>
                <div contenteditable="true" class="edit" id='editor'></div>
                <textarea id="temp_editor" class="send-message-text"></textarea>
                <textarea id="temp_editor" class="send-message-text"></textarea>
                <form class="" action='/reply' method="post" id='reply_form'>
                  <input type="text" name="body" value="" id='reply_data' style="display: none;">
                  <button type="button" name="post" id='saveDelta' class="send-message-button btn-info"> <i
                      class="fa fa-send"></i></button>
                </form>

              </div>
            </div>

            </center> -->
          </div>
            <%if (false) {%>
            <div class="chat_section" style="position:fixed; bottom: 0;width:75%;resize: both;overflow: auto;"> 
            <div class="display_replies"><p class="selected_msg"></p></div>

            <div class="inputWithIcon inputIconBg">
                
                <button class="replyBtn">

                <input type="file" name="upload_files" id="upload_files" multiple  style="display:none"/>
                <i class="fa fa-paperclip fa-2x" id="openFileUpload"  aria-hidden="true" >

                </i>
                </button>

                <button type="button" name="post" id='saveDelta' class="toolButtons" style="position:fixed; margin-top:-3px;">
                  <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
                </button>

            </div>



          </div>
          <%}%>
          <div class="display_replies" style="opacity: 0.01"><p class="selected_msg"></p></div>
          <div class="editor_widget">
            <div class="im_attach pull-left">
              <input id="upload_files" type="file" multiple="multiple" title="Send file" class="im_attach_input">
              <i id="upload_paperclip_icon" class="fa fa-paperclip fa-2x" aria-hidden="true"></i>
            </div>

            <textarea id="replyMessage" class="composer_rich_textarea" name="replyMessage" placeholder="Your feedback or ask any question or discuss the topic......" ></textarea>

            <div class="im_attach pull-right">
              <button id="saveDelta" class="save_btn" type="button" title="Submit"></button>
              <i id="paper_plane_icon" class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
            </div>
          </div>

        </div>
      </div>




      </div>
    </div>
  </div>
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span style="cursor:pointer" class="closes">✖</span>
      <center>
        <h1 class="head_">Start discussion</h1>
        <form action="/chatpost" method="POST" id='pvt_msg_form'>

          <input type="text" name="title" required='' autocomplete="off" placeholder="Title"> <br>
          <textarea name="desc" required='' autocomplete="off" placeholder="Description"></textarea> <br>

          <input type="text" name="user_search" placeholder="Add User" list="users1" autocomplete="off" required=''>
          <datalist id='users1'>

          </datalist>
          <br>

          <p align="right">
            <button id="saveDelta" class="button-secondary" type="submit" id='on_but' name="compose">Compose</button>
          </p>
        </form>
      </center>

    </div>

  </div>
  <div>
  <button aria-label="New Resource" id="plus_btn" class="btn-default" type="button">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <!-- <span class="btn_text">Create a Topic/Send a Private Message</span> -->
  </button>
  <button style="display: none;" aria-label="Create a New Topic" id="create-topic" class=" actions_btn" type="button">
    <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
    <span style="display: none;" class="btn_text">New Resource</span>
  </button>
  <button style="display: none;" aria-label="Send a Private Message" id="create-message" class=" actions_btn" type="button">
    <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
    <span style="display: none;" class="btn_text">New Message</span>
  </button>

  </div>
  <div id="details-form" class="detail_form">
    <button style="display: none;" id="back_btn_for_dm"><img src="/images/icons/noun_back_2784520.png" style="height:35px;width:35px;"/></button>
    <input style="display: none;" id="topic_title" type="text" name="topic_title" placeholder="Type Resource title" required=''>
    <div id="select_usr_grp_div">
    <input style="display: none" id="select_usr_grp" type="text" name="user_grp_search" placeholder="Select user/s and/or group/s" autocomplete="off" required=''>
    <ul id="searched_user"></ul>
    </div>
    <!-- <input style="display: none" id="select_usr_grp" type="text" name="user_grp_search" placeholder="Select users and groups" list="users1" autocomplete="off" required=''> -->
    <!-- <datalist id='users1'> -->
    <!-- </datalist> -->
    <select style="display: none" id="select_category_id" placeholder="select a category...">
      <option value="">Select a category</option>
    </select>
 <!--    <textarea id="text_editor" class="text_editor" name="text_editor" placeholder="Start the conversation..." ></textarea> -->
    <!--<button onclick="submit_data()">Submit</button>-->

    <div id="text_editor" class="editor_widget" style="display: none">
      <div class="im_attach pull-left">
        <input id="upload_files1" type="file" multiple="multiple" title="Send file" class="im_attach_input">
        <i class="fa fa-paperclip fa-2x" aria-hidden="true"></i>
      </div>

      <textarea id="replyMessage1" class="composer_rich_textarea" name="replyMessage1" placeholder="Your feedback or ask any question or discuss the topic......" ></textarea>

      <div class="im_attach pull-right">
        <button id="saveDelta1" class="save_btn" type="button" title="Submit"></button>
        <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <script type="text/javascript">

  $('input[name="user_grp_search"]').keyup(() => {
    var text = $('input[name="user_grp_search"]').val();
    var splited_text = text.split(",");
    var array_length = splited_text.length;

    if (text && array_length > 1 ){
      text = splited_text[array_length - 1];
    }
    $.ajax({
      url: '/find',
      data: { text: text }
    }).done(
      (data) => {
        // console.log(data);
        // $('#users1 option').remove();
        $('#searched_user').empty();
        if(data && data.users){
        for (var i = 0; i < data.users.length; i++) {
          var txt = data.users[i].name + ' (@' + data.users[i].username + ')';
          // $('#users1').append('<option value=\"' + data.users[i].username + '\">' + txt + '</option>');
          $('#searched_user').append('<li onclick="select_user_or_grp(this)" class="user_grp_info" value=\"' + data.users[i].username +","+ '\">' + txt + '</li>');
        }          
        }
        if(data && data.groups){
        for (var i = 0; i < data.groups.length; i++) {
          var txt = data.groups[i].name;
          // $('#users1').append('<option value=\"' + data.groups[i].name + '\">' + txt + '</option>');
          $('#searched_user').append('<li onclick="select_user_or_grp(this)" class="user_grp_info" value=\"' + data.users[i].username +","+ '\">' + txt + '</li>');
        }
        }
      }
    );
  });

  // $("#select_usr_grp").on('input', function () {
  //   var val = this.value;
  //   if($('#users1  option').filter(function(){
  //       return this.value.toUpperCase() === val.toUpperCase();        
  //   }).length) {
  //       //send ajax request
  //       alert(this.value);
  //      $("#select_usr_grp").val(val+",");
  //      el.selectionStart = el.selectionEnd = el.value.length;
  //   }
  // });
  function select_user_or_grp(selected_element){
    // alert(selected_element);
    // console.log(selected_element.getAttribute("value"));
    var select_usr_grp = $("#select_usr_grp").val();
    if( select_usr_grp.indexOf(",") != -1 ){

      select_usr_grp = select_usr_grp.split(",").slice(0,select_usr_grp.split(",").length - 1);
      // console.log(select_usr_grp);
      select_usr_grp = select_usr_grp.toString();
      // console.log(select_usr_grp);
      $("#select_usr_grp").val(select_usr_grp +","+ selected_element.getAttribute("value"));
    }
    else{
      $("#select_usr_grp").val("");
      $("#select_usr_grp").val(selected_element.getAttribute("value"));
    }
    $('#searched_user').empty();
  }

    var select_category_id = document.getElementById('select_category_id');

    select_category_id.addEventListener('click', append_option_tags);

    function append_option_tags(){
      // console.log(select_category_id);
      if (select_category_id.firstChild!=null && select_category_id.firstChild!=undefined && select_category_id.firstChild.nodeName != "OPTION"){
        var contact_list_divs = document.querySelectorAll('div[class^="contact_list"]');
        let elements = '';
        for (var i = 0; i < contact_list_divs.length; i++) {
        elements = elements + '<option value="'+contact_list_divs[i].dataset.cid+'">'+contact_list_divs[i].dataset.cname+'</option>';
        
        }
        select_category_id.innerHTML = elements;
      }
    }

    var element = document.getElementById('back_btn_for_dm');
    element.addEventListener('click', back_btn_for_dm);

    function back_btn_for_dm(){
      var el = this;
      // alert("hi");
      document.getElementById('container').style.display = "block";
      document.getElementById('details-form').style.display = "none";
    }

    var element = document.getElementById('create-topic');
    element.addEventListener('click', createTopic);

    function createTopic(){
      // console.log("matches");
      // console.log(z.matches);
      var el = this;
      // alert("hi");
      document.getElementById('select_category_id').value="";
      document.getElementById('select_usr_grp').value = "";
      // document.getElementById('details-form').style.display = "block";
      document.getElementById('select_category_id').style.display = "block";
      document.getElementById('select_usr_grp').style.display = "none";
      document.getElementById('topic_title').style.display = "block";
      document.getElementById('text_editor').style.display = "none";
      document.getElementById('back_btn_for_dm').style.display = "none";
      if(z.matches != null && z.matches !=undefined && z.matches){
        
        setTimeout(function(){ document.getElementById('back_btn_for_dm').style.display = "block"; }, 1000);
        setTimeout(function(){ document.getElementById('container').style.display = "none"; }, 1000);
        setTimeout(function(){ document.getElementById('text_editor').style.display = "block"; }, 1000);
        $("#details-form").show("slide", { direction: "right", distance: 1000 }, 1000);
      }
      else{
        document.getElementById('container').style.display = "block";
        document.getElementById('details-form').style.display = "block";
        document.getElementById('text_editor').style.display = "block";
        document.getElementById('back_btn_for_dm').style.display = "block";
      }
    }

          // alert("ki");
    var z = window.matchMedia("(max-width: 767px)");
    // createTopic(z); // Call listener function at run time
    z.addListener(createTopic); //

    var element = document.getElementById('create-message');
    element.addEventListener('click', createMessage);

    function createMessage(){
      var el = this;
      // alert("hi");
      document.getElementById('select_category_id').value=""
      document.getElementById('select_usr_grp').value = ""
      document.getElementById('container').style.display = "none";
      document.getElementById('details-form').style.display = "block";
      document.getElementById('select_category_id').style.display = "none";
      document.getElementById('select_usr_grp').style.display = "block";
      document.getElementById('topic_title').style.display = "block";
      document.getElementById('text_editor').style.display = "block";
      document.getElementById('back_btn_for_dm').style.display = "block";
      if(z.matches != null && z.matches !=undefined && z.matches){
        document.getElementById('container').style.display = "none";
      }
      else{
        document.getElementById('container').style.display = "block";
      }
    }
    z.addListener(createMessage);
    var element = document.getElementById('plus_btn');
    element.addEventListener('click', visible_buttons);

    function visible_buttons(){
      var el = this;
        // el.style.cssText = 'border-radius: 0%;';
      // console.log(el.style.borderRadius);
      if(el.style.borderRadius == "0%"){
        el.style.cssText = 'border-radius: 50%;';
        var element = document.getElementById('create-topic');
        // console.log(element.firstElementChild.style.display);
        element.firstElementChild.style.display = "none";
        element.style.display = "none";

        // var element = document.getElementById('create-category');
        // element.firstElementChild.style.display = "none";
        // element.style.display = "none";

        var element = document.getElementById('create-message');
        element.firstElementChild.style.display = "none";
        element.style.display = "none";

      }
      else{
        el.style.cssText = 'border-radius: 0%;';
        var element = document.getElementById('create-topic');
        element.firstElementChild.style.display = "block";
        element.style.display = "block";

        // var element = document.getElementById('create-category');
        // element.firstElementChild.style.display = "block";
        // element.style.display = "block";

        var element = document.getElementById('create-message');
        element.firstElementChild.style.display = "block";
        element.style.display = "block";

      }
    }
    // $('div[contenteditable=true]').keypress(function(e) {
    // // trap the return key being pressed
    // // console.log(e.keyCode);   
    // // if (e.keyCode == 13) {
    // //   // insert 2 br tags (if only one br tag is inserted the cursor won't go to the second line)
    // //   // document.execCommand('insertHTML', false, '<br><br>');
    // //   // prevent the default behaviour of return key pressed
    // //   // return false;
    // // }

    // if (event.which != 13)
    // return true;

    // var docFragment = document.createDocumentFragment();

    // //add a new line
    // var newEle = document.createTextNode('\n');
    // docFragment.appendChild(newEle);

    // //add the br, or p, or something else
    // newEle = document.createElement('br');
    // docFragment.appendChild(newEle);

    // //make the br replace selection
    // var range = window.getSelection().getRangeAt(0);
    // range.deleteContents();
    // range.insertNode(docFragment);

    // //create a new range
    // range = document.createRange();
    // range.setStartAfter(newEle);
    // range.collapse(true);

    // //make the cursor there
    // var sel = window.getSelection();
    // sel.removeAllRanges();
    // sel.addRange(range);

    // return false;
    // });

    var textarea = document.getElementById('replyMessage');
    var display_replies = document.getElementsByClassName('display_replies');
    // console.log(display_replies[0]);

    textarea.addEventListener('keydown', autosize);
    function autosize(){
      var el = this;
      setTimeout(function(){

        el.style.cssText = 'height:auto;padding-left:16px;padding-left:16px;';
        // for box-sizing other than "content-box" use:
        // el.style.cssText = '-moz-box-sizing:content-box';
        el.style.cssText = 'height:' + el.scrollHeight + 'px';

        if(display_replies !=null && display_replies!=undefined && display_replies[0].firstChild!=null && display_replies[0].firstChild!=undefined && display_replies[0].firstChild.id !=undefined && display_replies[0].firstChild.id != null && display_replies[0].firstChild.id!="" && display_replies[0].firstChild.innerHTML!="")
        {
          // console.log(el.style.height);
          display_replies[0].style.cssText = 'height:' + (Number(el.style.height.split("px")[0])+10) + 'px'+';opacity: 100;';
        }
        else{
          display_replies[0].style.cssText = 'opacity:0.01'
        }
      },0);
    }

    var replyMessage1 = document.getElementById('replyMessage1');
    replyMessage1.addEventListener('keydown', autosize1);
    function autosize1(){
      var el = this;
      setTimeout(function(){
        el.style.cssText = 'height:auto;padding-left:16px;padding-left:16px;';
        el.style.cssText = 'height:' + el.scrollHeight + 'px';
      });
    }

    // $('textarea').on('keydown', function(e){
    //      if(e.which == 13) {
    //        e.preventDefault();
    //      }
    //    }).on('input', function(){
    //      $(this).height(1);
    //        var totalHeight = $(this).prop('scrollHeight') - parseInt($(this).css('padding-top')) - parseInt($(this).css('padding-bottom'));
    //      $(this).height(totalHeight);
    //  });

    // $('textarea').each(function () {
    //   this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
    // }).on('input', function () {
    //   this.style.height = 'auto';
    //   this.style.height = (this.scrollHeight) + 'px';
    // });

    // te = document.querySelector('textarea');
    // te.addEventListener('keyup', resizeTextarea);

    // function resizeTextarea(ev) {
    //     this.style.height = '24px';
    //     this.style.height = this.scrollHeight + 12 + 'px';
    // }

      // expandtextarea(document.querySelector('.js-expand'));


      // function expandtextarea(container) {
      //   var tarea = container.querySelector('textarea');
      //   var mirror = container.querySelector('span');
      //   tarea.addEventListener('input', function(e) {
      //     mirror.textContent = tarea.value;
      //   });
      // }

  </script>

  <!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script type="text/javascript">
    var myUrl=$('#url').attr('name');
    myUrl=myUrl.substring(0,myUrl.length-1);
  </script>
  <script src="/js/chat.js" charset="utf-8"></script>
  <!-- <script src="/js/quill.js"></script> -->
  <script>
  //Editor and posting

      // document.getElementById('editor').style.display = "none";
      function showDiv() {
        // $(".chat-body").animate({ scrollTop: $('.chat-body').prop("scrollHeight") }, 1000);
        //  alert("hi");
        $(".chat-footer").css('height', "30%");
        $(".chat-body").css('height', "70vh");
        // alert("hello");

        document.getElementById('editor').style.display = "inline-block";
        document.getElementById('temp_editor').style.display = "none";
        $('#show_toolbar').show();
        //document.querySelector('.ql-toolbar.ql-snow').style.display = "inline-block";
      }

      $('#show_toolbar').click(() => {
        $('#show_toolbar').hide();
        $('#hide_toolbar').show();
        document.querySelector('.ql-toolbar.ql-snow').style.display = "inline-block";
      });
      $('#hide_toolbar').click(() => {
        $('#hide_toolbar').hide();
        $('#show_toolbar').show();
        document.querySelector('.ql-toolbar.ql-snow').style.display = "none";
      });
      var options = [
        ['bold', 'italic', 'underline', 'strike'],
        ['blockquote', 'code-block'],
        [{ 'header': 1 }, { 'header': 2 }],
        [{ 'list': 'ordered' }, { 'list': 'bullet' }],
        [{ 'script': 'sub' }, { 'script': 'super' }],
        [{ 'indent': '-1' }, { 'indent': '+1' }],
        [{ 'direction': 'rtl' }],
        [{ 'color': [] }, { 'background': [] }],
        [{ 'font': [] }],

        ['link', 'image', 'video']
      ];


      // var quill = new Quill('#editor', {
      //   modules: {
      //     toolbar: options,

      //   },
      //   placeholder: "Type your message",
      //   scrollingContainer: '#editor',
      //   theme: 'snow'
      // });
      document.getElementById('saveDelta').addEventListener('click', function () {
        var body = document.getElementById('replyMessage');
        // console.log(body.selectionStart);
        var topic_title = document.getElementById("topic_title");
        // console.log(topic_title);
        var reply_message = document.getElementsByClassName('selected_msg');
        // console.log(reply_message[0]);
        var topic_id = $('#tid').attr('name');
        var topic_slug = $('#slug').attr('name');
        // console.log(reply_message.length);
        // console.log(reply_message[0].id);
        // console.log(document.querySelectorAll('div[id^="edit_btn_"][data-edit_btn]')[0].dataset.post_id);
        if (reply_message !=null && reply_message !=undefined && reply_message.length > 0 && reply_message[0].id!=null && reply_message[0].id!=undefined && reply_message[0].id!="" && body!=undefined && body.innerHTML!=undefined){
          let fields = reply_message[0].id.split('_');
          topic_id = fields[2];
          let reply_to_post_number = fields[3];
          // console.log(reply_to_post_number);
          // reply_message = reply_message.innerHTML.split("<button");
          let raw = body.value;
          category_id = 0;
          let url = '/reply/' + topic_id + '/' + category_id  + '/' + reply_to_post_number; 
          // console.log(url);
          $.ajax(url,{
          type:'POST',
          data:{
            raw:raw,
          },
          success:function (data,status,xhr) {   // success callback function
            setTimeout(function(){
              $('#holder3').html('');
              $('.pointer.links.active-tab').click();
              body.value='';
              // reply_message[0].innerHTML='';
              $('.selected_msg').empty();
              $(".display_replies").css('opacity', "0.01");
              $(".display_replies").css('height', "10px");
              // console.log(document.getElementById("topic_head"));
              let topic_head = document.getElementById("topic_head")
              if(topic_head!=null && topic_head!=undefined){
                topic_head = topic_head.innerHTML;
              }
              load_posts(topic_slug+'/'+topic_id+'/'+(Number(reply_to_post_number)+1),topic_head);
              // setTimeout(()=>{
              //       // $(".chat-body").animate({ scrollTop: $('.chat-body').prop("scrollHeight") }, 500);
              // },500);
            },1000);
          },
          error:function(jqXhr, textStatus, errorMessage){alert('Failed to send message '+ errorMessage);}
          });
        }
        else if(topic_title!=null && topic_title!= undefined && topic_title.innerHTML !=null && topic_title.innerHTML !=undefined && topic_title.innerHTML!=""){
          // console.log(body.value);
          // console.log(topic_title.value);
          var searched_user = document.getElementById("searched_user");
          var category_id = document.getElementById("select_category_id");
          if ( category_id!=null && category_id != undefined ){
            category_id = category_id.value
          }
          // console.log(category_id);
          let url = "/chatpost"
          $.ajax(url,{
            type:'POST',
            data:{
              title: topic_title.value,
              desc: body.value,
              user_search: searched_user.value,
              category: category_id
            },
            success:function (data,status,xhr) {   // success callback function
              // console.log(data);
              document.getElementById("replyMessage").value="";
              document.getElementById("topic_title").value="";
              setTimeout(function(){
                if(searched_user && searched_user.value == $("#curr_user").attr("name")){
                  document.getElementById("category_click").click();
                }
                else{
                  document.getElementById("private_click").click();
                }
                document.getElementById("inbox-message-1").style.display = "None";
                $("#topic_head").html("");
                $("#holder3").html("");
              },1500);
           },
            error:function(jqXhr, textStatus, errorMessage){alert('Failed to send message '+ errorMessage);}
          });
        }
        else if(document.querySelectorAll('div[id^="edit_btn_"][data-edit_btn]')[0]){
          let edit_btn_div = document.querySelectorAll('div[id^="edit_btn_"][data-edit_btn]')[0];
          let post_id = edit_btn_div.dataset.post_id
          // console.log(post_id);
          let raw_old = document.getElementById("replyMessage1").value;
          let topic_id = edit_btn_div.id.split("_")[2];
          // console.log(topic_id);
          // console.log(raw_old);
          // console.log(body.value);
          var url = '/posts/'+ post_id;
          // console.log(url);
          if(post_id){
            $.ajax(url,{
              type:'PUT',
              data:{
                topic_id: topic_id,
                raw: body.value,
                raw_old: raw_old
              },
              success:function (data,status,xhr) {   // success callback function
                // console.log(data);
                body.value="";
                body.style.height ="60px";
                document.getElementById("replyMessage1").value = "";
                // console.log(document.querySelectorAll('div[data-POSTID="'+ post_id +'"]'));;
                document.querySelectorAll('div[data-POSTID="'+ post_id +'"]')[0].innerHTML= data.post.cooked;
             },
              error:function(jqXhr, textStatus, errorMessage){alert('Failed to send message '+ errorMessage);}
            });
          }
        }
        else if(body && body.value!=undefined && body.value!=null){
          var url = '/reply/' + topic_slug + '/' + topic_id;
          $.ajax(url,{
            type:'POST',
            data:{
              slug:topic_slug,
              tid:topic_id,
              body:body.value
            },
            success:function (data,status,xhr) {   // success callback function
              // console.log(data);
              body.value="";
              body.style.height ="60px";
              setTimeout(function(){
                // $('#holder3').html('');
                // $('.pointer.links.active-tab').click();
                let topic_head = document.getElementById("topic_head")
                if(topic_head!=null && topic_head!=undefined){
                  topic_head = topic_head.innerHTML;
                }
                load_posts(topic_slug+'/'+topic_id+'/9999',topic_head);
                // setTimeout(()=>{
                //       $(".chat-body").animate({ scrollTop: $('.chat-body').prop("scrollHeight") }, 500);
                // },500);
              },1000);
           },
            error:function(jqXhr, textStatus, errorMessage){alert('Failed to send message '+ errorMessage);}
          });
        }
      });


    $('#upload_files').change(function(event){
      var body = document.getElementById('replyMessage');
      var input = this;
      var url = $(this).val();
      var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();

      topic_id = input.dataset.topic_id;
      url = "/upload/"+topic_id;
      var file = event.target.files[0];

      reader = new FileReader();

      reader.onloadend = function () {
        var b64 = reader.result.replace(/^data:.+;base64,/, '');

        $.ajax(url,{
          type:'POST',
          data: {file:b64,filename:file.name},

          success:function (data,status,xhr) {   // success callback function
            // console.log(data);
            if(data && data.error!=null){
              alert(data.error);
            }
            else{
              // console.log("else .....");
              // console.log(body.selectionStart);
              let first_part_string = "";
              let last_part_string = "";
              if (body!=null && body!=undefined && body.selectionStart!=null && body.selectionStart!=undefined)
              {
                // console.log(body.value.substring(0,body.selectionStart));
                // console.log(body.value.substring(body.selectionStart,body.value.length));
                first_part_string = body.value.substring(0,body.selectionStart);
                last_part_string = body.value.substring(body.selectionStart,body.value.length)
              }
              let whole_string = first_part_string +" "+ data +" "+ last_part_string;
              // console.log(whole_string);
              $("#replyMessage").val(whole_string);
            }
         },
          error:function(jqXhr, textStatus, errorMessage){alert('Failed to upload file '+ errorMessage);}
        });
      };

      reader.readAsDataURL(file);

      });

      $('#openFileUpload').click(function(){ $('#upload_files').trigger('click'); });


      function submit_data(){
        // alert("ssss")
          var select_usr_grp = document.getElementById("select_usr_grp");
          var category_id = document.getElementById("select_category_id");
          var topic_title = document.getElementById("topic_title");
          var text_editor = document.getElementById("text_editor");
          // console.log(category_id);
          if ( category_id!=null && category_id != undefined ){
            category_id = category_id.value
          }
          // console.log(category_id);
          let url = "/chatpost"
          $.ajax(url,{
            type:'POST',
            data:{
              title: topic_title.value,
              desc: text_editor.value,
              user_search: select_usr_grp.value,
              category: category_id
            },
            success:function (data,status,xhr) {   // success callback function
              // console.log(data);

           },
            error:function(jqXhr, textStatus, errorMessage){alert('Failed to send message '+ errorMessage);}
          });
      }

    $('#upload_files1').change(function(event){
      var body = document.getElementById('replyMessage1');
      var input = this;
      var url = $(this).val();
      var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();

      topic_id = input.dataset.topic_id;
      url = "/upload/"+topic_id;
      var file = event.target.files[0];

      reader = new FileReader();

      reader.onloadend = function () {
        var b64 = reader.result.replace(/^data:.+;base64,/, '');

        $.ajax(url,{
          type:'POST',
          data: {file:b64,filename:file.name},

          success:function (data,status,xhr) {   // success callback function
            // console.log(data);
            if(data && data.error!=null){
              alert(data.error);
            }
            else{
              // console.log("else .....");
              // console.log(body.selectionStart);
              let first_part_string = "";
              let last_part_string = "";
              if (body!=null && body!=undefined && body.selectionStart!=null && body.selectionStart!=undefined)
              {
                // console.log(body.value.substring(0,body.selectionStart));
                // console.log(body.value.substring(body.selectionStart,body.value.length));
                first_part_string = body.value.substring(0,body.selectionStart);
                last_part_string = body.value.substring(body.selectionStart,body.value.length)
              }
              let whole_string = first_part_string +" "+ data +" "+ last_part_string;
              // console.log(whole_string);
              $("#replyMessage1").val(whole_string);
            }
         },
          error:function(jqXhr, textStatus, errorMessage){alert('Failed to upload file '+ errorMessage);}
        });
      };

      reader.readAsDataURL(file);

      });

      document.getElementById('saveDelta1').addEventListener('click', function () {
        var body = document.getElementById('replyMessage1');
        // console.log(body.selectionStart);
        var topic_title = document.getElementById("topic_title");
        var select_usr_grp = document.getElementById("select_usr_grp");
        var category_id = document.getElementById("select_category_id");
        // console.log(topic_title);
        var topic_id = $('#tid').attr('name');
        var topic_slug = $('#slug').attr('name');
        // console.log(body.innerHTML);
        // console.log(topic_title.innerHTML);
        // console.log(body.value);
        // console.log(topic_title.value);
        if(topic_title!=null && topic_title!= undefined && topic_title.value !=null && topic_title.value !=undefined && body && body.value!=null && body.value != undefined){
          // console.log(body.value);
          // console.log(topic_title.value);
          var searched_user = document.getElementById("searched_user");
          var category_id = document.getElementById("select_category_id");
          if ( category_id!=null && category_id != undefined ){
            category_id = category_id.value
          }
          // console.log(category_id);
          let url = "/chatpost"
          $.ajax(url,{
            type:'POST',
            data:{
              title: topic_title.value,
              desc: body.value,
              user_search: select_usr_grp.value,
              category: category_id
            },
            success:function (data,status,xhr) {   // success callback function
              // console.log(data);
              document.getElementById('container').style.display = "block";
              document.getElementById('details-form').style.display = "none";
              if(category_id!="" && category_id!=null && category_id!=undefined){
                document.getElementById("category_click").click();
              }
              else
              {
                document.getElementById("private_click").click();
              }
              body.value = "";
              topic_title.value = "";
              select_usr_grp.value = "";
              // category_id.value= "Select a category";
              $('#searched_user').empty();
              document.getElementById("plus_btn").click();
           },
            error:function(jqXhr, textStatus, errorMessage){alert('Failed to send message '+ errorMessage);}
          });
        }

      });

  function logout(clicked_element_data){
    // console.log(clicked_element_data);
      let url = "/logout";
          $.ajax(url,{
            type:'GET',
            success:function (data,status,xhr) { 
              // console.log(window.location.href);
              clicked_element_data.style.display="none";
              document.getElementById("login_link").style.display = "block";
              window.location.href ="/login"
            }
          });

  }
  </script>
</body>

</html>
