<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>STEMChat</title>
  <link rel="shortcut icon" href="./favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/quill.css">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <style type="text/css">
    /* The sidebar menu */
    html {
      height: 100%;
    }

    body {
      height: 100%;
    }

    #topic_head {
      color: white;
    }

    .sidebar {
      height: 100%;
      /* 100% Full-height */
      width: 0;
      /* 0 width - change this with JavaScript */
      position: fixed;
      /* Stay in place */
      z-index: 1000;
      /* Stay on top */
      bottom: 0;
      left: 0;
      background-color: #393e46;
      overflow-x: hidden;
      /* Disable horizontal scroll */

      transition: 0.5s;
      /* 0.5 second transition effect to slide in the sidebar */
    }

    /* The sidebar links */
    .sidebar a {
      margin-top: 10px;
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidebar a:hover {
      color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    /* The button used to open the sidebar */
    .openbtn {
      font-size: 16px;
      cursor: pointer;
      background-color: #d6d4c7;
      color: #393e46;
      padding: 1em;
      border: none;
    }

    .openbtn:hover {
      background-color: gray;
    }


    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidebar {
        padding-top: 15px;
      }

      .sidebar a {
        font-size: 18px;
      }
    }

    .search-but {

      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 0px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;

    }

    .search-bar {
      width: 20%;
      margin-right: 15rem;
      margin-top: 7px;
      padding-top: 10px;
      float: right;
      position: fixed;
      border: none;
      border-radius: 5px;
      background-color: white;
      /*border: 2px solid #393e46; */
    }

    body {

      background: #eee;
    }

    .ql-toolbar.ql-snow {

      display: none;
    }


    .contacts li>.info-combo>h3.name {
      font-size: 12px;
    }

    .contacts li .message-time {
      text-align: right;
      display: block;
      margin-left: -15px;
      width: 70px;
      height: 25px;
      line-height: 28px;
      font-size: 14px;
      font-weight: 600;
      padding-right: 5px;
    }

    .contacts li>.info-combo>h5 {
      width: 200px;
      font-size: 12px;
      height: 30px;
      font-weight: 500;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
    }

    .contacts li>.info-combo>h3 {
      width: 100%;
      height: 50px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .info-combo>h3 {
      margin: 3px 0;
    }

    .no-margin-bottom {
      margin-bottom: 0 !important;
    }

    .info-combo>h5 {
      margin: 2px 0 6px 0;
    }

    /* Messages */
    .messages-panel img.img-circle {
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .medium-image {
      width: 45px;
      height: 45px;
      margin-right: 5px;
    }

    .img-circle {
      border-radius: 50%;
    }

    .messages-panel {
      width: 100%;
      height: 100%;
      min-height: 460px;
      background-color: #fbfcff;
      display: inline-block;
      border-top-left-radius: 5px;
      margin-bottom: 0;
    }

    .messages-panel img.img-circle {
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .messages-panel .tab-content {
      border: none;
      background-color: transparent;
      height: 100%;
    }

    .contacts-list {
      background-color: #fff;
      border-right: 1px solid #cfdbe2;
      width: 305px;
      height: 100%;
      border-top-left-radius: 5px;
      float: left;
    }

    .contacts-list .inbox-categories {
      width: 100%;
      padding: 0;
      margin-left: 0;
    }

    .contacts-list .inbox-categories>div {
      float: left;
      width: 76px;
      padding: 15px 5px;
      font-size: 14px;
      text-align: center;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      background-color: rgba(255, 255, 255, 0.75);
      cursor: pointer;
      font-weight: 700;
    }

    .contacts-list .inbox-categories>div:nth-child(1) {
      color: #2da9e9;
      border-right-color: rgba(45, 129, 233, 0.06);
      border-bottom: 4px solid rgb(76, 175, 80);
      border-top-left-radius: 5px;
    }

    .contacts-list .inbox-categories>div:nth-child(1).active {
      float: right;
      color: #fff;
      background-color: rgb(76, 175, 80);
      border-bottom: 4px solid rgba(0, 0, 0, 0.15);
    }

    .contacts-list .inbox-categories>div:nth-child(2) {
      color: rgb(76, 175, 80);
      border-right-color: rgba(14, 200, 162, 0.06);
      border-bottom: 4px solid rgb(76, 175, 80);
    }

    .contacts-list .inbox-categories>div:nth-child(2).active {
      color: #fff;
      background-color: rgb(76, 175, 80);
      border-bottom: 4px solid rgba(0, 0, 0, 0.15);
    }

    .contacts-list .inbox-categories>div:nth-child(3) {
      color: #ff9e2a;
      border-right-color: rgba(255, 152, 14, 0.06);
      border-bottom: 4px solid #ff9e2a;
    }

    .contacts-list .inbox-categories>div:nth-child(3).active {
      color: #fff;
      background-color: #ff9e2a;
      border-bottom: 4px solid rgba(0, 0, 0, 0.15);
    }

    .contacts-list .inbox-categories>div:nth-child(4) {
      color: #314557;
      border-bottom: 4px solid #314557;
      border-right-color: transparent;
    }

    .contacts-list .inbox-categories>div:nth-child(4).active {
      color: #fff;
      background-color: #314557;
      border-bottom: 4px solid rgba(0, 0, 0, 0.35);
    }

    .contacts-list .panel-search>input {
      margin-left: 5px;
      background-color: rgba(0, 0, 0, 0);
    }

    .contacts-outter-wrapper {
      position: relative;
      width: 305px;
      direction: rtl;
      min-height: 405px;
      overflow: hidden;
    }

    .contacts-outter-wrapper:after,
    .contacts-outter-wrapper:nth-child(1):after {
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: 0;
      background-color: rgb(76, 175, 80);
      border-bottom-left-radius: 4px;
    }

    .contacts-outter-wrapper:nth-child(2):after {
      background-color: rgb(76, 175, 80);
    }

    .contacts-outter-wrapper:nth-child(3):after {
      background-color: #ff9e2a;
    }

    .contacts-outter-wrapper:nth-child(4):after {
      background-color: #314557;
    }

    .contacts-outter {
      position: relative;
      height: calc(100vh - 135px);
      width: 325px;
      direction: rtl;
      overflow-y: scroll;
      padding-left: 20px;
    }

    @media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
      @media {
        .contacts-outter-wrapper {
          direction: ltr;
        }

        .contacts-outter {
          direction: ltr;
          padding-left: 0;
        }
      }
    }

    .contacts {
      direction: ltr;
      width: 305px;
      margin-top: 0px;
    }

    .contacts li {
      width: 100%;
      border-top: 1px solid transparent;
      border-bottom: 1px solid rgba(205, 211, 237, 0.2);
      border-left: 4px solid rgba(255, 255, 255, 0);
      padding: 8px 12px;
      position: relative;
      background-color: rgba(255, 255, 255, 0);
    }

    .contacts li:first-child {
      border-top: 1px solid rgba(205, 211, 237, 0.2);
    }

    .contacts li:first-child.active {
      border-top: 1px solid rgba(205, 211, 237, 0.75);
    }

    .contacts li:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }

    .contacts li.active,
    .contacts.info li.active {
      border-right: 5px solid rgb(76, 175, 80);
      border-top-color: rgba(205, 211, 237, 0.75);
      border-bottom-color: rgba(205, 211, 237, 0.75);
      background-color: #F5F5F5;
    }

    .contacts.success li.active {
      border-left: 4px solid rgb(76, 175, 80);
    }

    .contacts.warning li.active {
      border-left: 4px solid #ff9e2a;
    }

    .contacts.danger li.active {
      border-left: 4px solid #f95858;
    }

    .contacts.dark li.active {
      border-left: 4px solid #314557;
    }

    .contacts li>.info-combo {
      width: 172px;
      cursor: pointer;
    }

    .contacts li>.info-combo>h3 {
      width: 167px;
      height: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .contacts li .contacts-add {
      width: 50px;
      float: right;
      z-index: 23299;
    }

    .contacts li .message-time {
      text-align: right;
      display: block;
      margin-left: -15px;
      width: 70px;
      height: 25px;
      line-height: 28px;
      font-size: 14px;
      font-weight: 600;
      padding-right: 5px;
    }

    .contacts li .contacts-add .fa-trash-o {
      position: absolute;
      font-size: 14px;
      right: 12px;
      bottom: 15px;
      color: #a6a6a6;
      cursor: pointer;
    }

    .contacts li .contacts-add .fa-share-alt {
      position: absolute;
      font-size: 14px;
      right: 34px;
      bottom: 15px;
      color: #a6a6a6;
      cursor: pointer;
    }

    .contacts li .contacts-add .fa-trash-o:hover {
      color: #f95858;
    }

    .contacts li .contacts-add .fa-share-alt:hover {
      color: #ff9e2a;
    }

    .contacts li>.info-combo>h5 {
      width: 180px;
      font-size: 12px;
      height: 28px;
      font-weight: 500;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
    }

    .contacts li .message-count {
      position: absolute;
      top: 8px;
      left: 5px;
      width: 23px;
      height: 23px;
      line-height: 20px;
      text-align: center;
      background-color: #4CAF50;
      border-radius: 50%;
      color: #FFF;
      font-weight: 600;
      font-size: 12px;
      align-items: center;
      align-content: center;
      text-align: center;
    }


    .container {
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
    }

    .message-body {
      background-color: #fbfcff;
      height: 100%;
      width: calc(100% - 305px);
      float: right;
    }

    .message-body .message-top {
      display: inline-block;
      width: 100%;
      position: relative;
      min-height: 53px;
      height: auto;
    }

    .message-body {
      background-color: #fff;
      border-bottom: 1px solid rgba(205, 211, 237, 0.5);
    }

    .message-top {
      background-color: #4CAF50;
      border-bottom: 1px solid black;

    }

    .message-body .message-top .new-message-wrapper {
      width: 100%;
    }

    .message-body .message-top .new-message-wrapper>.form-group {
      width: 100%;
      padding: 10px 10px 0 10px;
      height: 50px;
    }

    .message-body .message-top .new-message-wrapper .form-group .form-control {
      width: calc(100% - 50px);
      float: left;
    }

    .message-body .message-top .new-message-wrapper .form-group a {
      width: 40px;
      padding: 6px 6px 6px 6px;
      text-align: center;
      display: block;
      float: right;
      margin: 0;
    }

    .message-body .message-top>.btn {
      height: 53px;
      line-height: 53px;
      padding: 0 20px;
      float: right;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin: 0;
      font-size: 15px;
      opacity: 0.9;
    }

    .message-body .message-top>.btn:hover,
    .message-body .message-top>.btn:focus,
    .message-body .message-top>.btn.active {
      opacity: 1;
    }

    .message-body .message-top>.btn>i {
      margin-right: 5px;
      font-size: 18px;
    }

    .new-message-wrapper {
      position: absolute;
      max-height: 400px;
      top: 53px;
      background-color: #fff;
      z-index: 105;
      padding: 20px 15px 30px 15px;
      border-bottom: 1px solid #cfdbe2;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25);
      transition: 0.5s;
      display: none;
    }

    .new-message-wrapper.closed {
      opacity: 0;
      max-height: 0;
    }

    .chat-footer.new-message-textarea {
      display: block;
      position: relative;
      padding: 0 10px;
    }

    .chat-footer.edit {
      display: block;
      position: relative;
      padding: 0 10px;
    }

    .chat-footer.new-message-textarea .send-message-button {
      right: 35px;
    }

    .chat-footer.new-message-textarea .upload-file {
      right: 85px;
    }

    .chat-footer.new-message-textarea .send-message-text {

      height: 50px;
    }

    .message-chat {
      width: 100%;
      overflow: hidden;
    }

    .chat-body {
      width: calc(100% + 17px);
      min-height: 290px;
      height: 83vh;
      background-color: #fbfcff;
      margin-bottom: 10px;
      padding: 30px 5px 5px 5px;
      overflow-y: scroll;
    }

    .message {
      position: relative;
      width: 100%;
    }

    .message br {
      clear: both;
    }

    .message .message-body {
      position: relative;
      width: auto;
      max-width: calc(100% - 150px);
      float: left;
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid #4CAF50;
      margin: 0 5px 20px 15px;
      color: #788288;
    }

    .message:after {
      content: "";
      position: absolute;
      top: 11px;
      left: 63px;
      float: left;
      z-index: 100;
      border-top: 10px solid transparent;
      border-left: none;
      border-bottom: 10px solid transparent;
      border-right: 13px solid #fff;
    }

    .message:before {
      content: "";
      position: absolute;
      top: 10px;
      left: 62px;
      float: left;
      z-index: 99;
      border-top: 11px solid transparent;
      border-left: none;
      border-bottom: 11px solid transparent;
      border-right: 13px solid #dbe3e8;
    }

    .message .medium-image {
      float: left;
      margin-left: 10px;
    }

    .message .message-info {
      width: 100%;
      height: 22px;
    }

    .message .message-info>h5>i {
      font-size: 11px;
      font-weight: 700;
      margin: 0 2px 0 0;
      color: #a2b8c5;
    }

    .message .message-info>h5 {
      color: #a2b8c5;
      margin: 8px 0 0 0;
      font-size: 12px;
      float: right;
      padding-right: 10px;
    }

    .message .message-info>h4 {
      font-size: 14px;
      font-weight: 600;
      margin: 7px 13px 0 10px;
      color: rgb(76, 175, 80);
      float: left;
    }

    .message hr {
      margin: 4px 2%;
      width: 96%;
      opacity: 0.75;
    }

    .message .message-text {
      text-align: left;
      padding: 3px 13px 10px 13px;
      font-size: 14px;
      word-break: break-word;
    }

    .message.my-message .message-body {
      float: right;
      margin: 0 15px 20px 5px;
    }

    .message.my-message:after {
      content: "";
      position: absolute;
      top: 11px;
      left: auto;
      right: 63px;
      float: left;
      z-index: 100;
      border-top: 10px solid transparent;
      border-left: 13px solid #fff;
      border-bottom: 10px solid transparent;
      border-right: none;
    }

    .message.my-message:before {
      content: "";
      position: absolute;
      top: 10px;
      left: auto;
      right: 62px;
      float: left;
      z-index: 99;
      border-top: 11px solid transparent;
      border-left: 13px solid #dbe3e8;
      border-bottom: 11px solid transparent;
      border-right: none;
    }

    .message.my-message .medium-image {
      float: right;
      margin-left: 5px;
      margin-right: 10px;
    }

    .message.my-message .message-info>h5 {
      float: left;
      padding-left: 10px;
      padding-right: 0;
    }

    .message.my-message .message-info>h4 {
      float: right;
    }

    .message.info .message-body {
      background-color: #F5F5F5;
      border: 1px solid rgb(76, 175, 80);
      color: #000;
    }

    .message.info:after,
    .message.info:before {
      border-right: 13px solid rgb(76, 175, 80);
    }

    .message.success .message-body {
      background-color: rgb(76, 175, 80);
      border: 1px solid rgb(76, 175, 80);
      color: #fff;
    }

    .message.success:after,
    .message.success:before {
      border-right: 13px solid rgb(76, 175, 80);
    }

    .message.warning .message-body {
      background-color: #ff9e2a;
      border: 1px solid #ff9e2a;
      color: #fff;
    }

    .message.warning:after,
    .message.warning:before {
      border-right: 13px solid #ff9e2a;
    }

    .message.danger .message-body {
      background-color: #f95858;
      border: 1px solid #f95858;
      color: #fff;
    }

    .message.danger:after,
    .message.danger:before {
      border-right: 13px solid #f95858;
    }

    .message.dark .message-body {
      background-color: #314557;
      border: 1px solid #314557;
      color: #fff;
    }

    .message.dark:after,
    .message.dark:before {
      border-right: 13px solid #314557;
    }

    .message.info .message-info>h4,
    .message.success .message-info>h4,
    .message.warning .message-info>h4,
    .message.danger .message-info>h4,
    .message.dark .message-info>h4 {
      color: #fff;
    }

    .message.info .message-info>h5,
    .message.info .message-info>h5>i,
    .message.success .message-info>h5,
    .message.success .message-info>h5>i,
    .message.warning .message-info>h5,
    .message.warning .message-info>h5>i,
    .message.danger .message-info>h5,
    .message.danger .message-info>h5>i,
    .message.dark .message-info>h5,
    .message.dark .message-info>h5>i {
      color: #fff;
      opacity: 0.9;
    }

    .chat-footer {

      position: relative;
      margin-left: 10px;
      margin-right: 20px;
      width: 90%;
      height: 7vh;
      padding: 0px;
      bottom: 10px;
      background-color: white;
      border: 1px solid black;
      z-index: 100;
    }

    .chat-footer .send-message-text {
      position: relative;
      margin-top: 1px;
      display: block;
      width: 100%;
      min-height: 55px;
      max-height: 75px;
      background-color: #fff;
      border-radius: 5px;
      padding: 5px 95px 5px 10px;
      font-size: 13px;
      resize: vertical;
      outline: none;
      border: 1px solid #e0e6eb;
    }

    .chat-footer .send-message-button {
      display: block;
      position: absolute;
      width: 35px;
      height: 35px;
      right: 0px;
      top: 0;
      bottom: 50px;
      margin: auto;
      border: 1px solid rgba(0, 0, 0, 0.05);
      outline: none;
      font-weight: 600;
      border-radius: 50%;
      padding: 0;
    }

    .chat-footer .send-message-button>i {
      font-size: 16px;
      margin: 0 0 0 -2px;
    }

    .chat-footer label.upload-file input[type="file"] {
      position: fixed;
      top: -1000px;
    }

    .chat-footer .upload-file {
      display: block;
      position: absolute;
      right: 150px;
      height: 30px;
      font-size: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: 0.25;
    }

    .chat-footer .upload-file:hover {
      opacity: 1;
    }

    @media screen and (max-width: 767px) {
      .messages-panel {
        min-width: 0;
        display: inline-block;
      }

      .contacts-list,
      .contacts-list .inbox-categories>div:nth-child(4) {
        border-top-right-radius: 5px;
        border-right: none;
      }

      .contacts-list,
      .contacts-outter-wrapper,
      .contacts-outter,
      .contacts {
        width: 100%;
        direction: ltr;
        padding-left: 0;

      }

      .contacts-list .inbox-categories>div {
        width: 25%;
      }

      .message-body {
        width: 100%;
        margin: auto;
        border: 1px solid #dce2e9;
        background-color: #fff;
      }

      .message .message-body {
        max-width: calc(100% - 85px);
      }

      .message-body .chat-body {
        background-color: #fff;
        width: 100%;
      }

      .chat-footer {
        margin-bottom: 20px;
        padding: 0 20px;
        height: 7vh;
      }

      .chat-footer .send-message-button {
        right: 0px;
        bottom: 0px;
      }

      .chat-footer .upload-file {
        right: 90px;
      }

      .message-body .message-top>.btn {
        border-radius: 0;
        width: 100%;
      }

      .contacts-add {
        display: none;
      }
    }

    /* Profile page */

    .profile-main {
      background-color: #fff;
      border: 1px solid #dce2e9;
      border-radius: 3px;
      position: relative;
      margin-bottom: 20px;
    }

    .profile-main .profile-background {
      background-image: url('../images/samples/forest.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      width: 100%;
      height: 260px;
    }

    .profile-main .profile-info {
      width: calc(100% - 380px);
      max-width: 1100px;
      margin: 0 auto;
      background-color: #fff;
      height: 70px;
      border-radius: 0 0 3px 3px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .profile-main .profile-info>div {
      margin: 0 10px;
    }

    .profile-main .profile-info>div:last-child {
      padding-right: 25px;
    }

    .profile-main .profile-info>div h4 {
      font-size: 16px;
      margin-bottom: 0;
    }

    .profile-main .profile-info>div h5 {
      margin-top: 5px;
      font-weight: 500;
    }

    .profile-main .profile-button {
      padding: 8px 0;
      position: absolute;
      right: 25px;
      bottom: 16px;
      width: 150px;
    }

    .profile-main .profile-picture {
      width: 150px;
      height: 150px;
      border: 4px solid #fff;
      position: absolute;
      left: 25px;
      bottom: 14px;
    }

    @media screen and (max-width: 767px) {

      .profile-main .profile-info .profile-status,
      .profile-main .profile-info .profile-posts,
      .profile-main .profile-info .profile-date {
        display: none;
      }
    }

    .contacts li>.info-combo {
      display: inline-block;
    }

    @media screen and (max-width: 758px) {
      .search-bar {
        margin-top: 10px;
        float: right;

      }
    }

    @media (max-width: 1000px) {
      .search-bar {
        width: 21%;
        margin-left: 0;
      }
    }

    @media (max-width: 600px) {
      .search-bar {
        width: 20%;
        margin-left: 0;
      }

    }

    @media (max-width: 545px) {
      .search-bar {
        width: 19%;
        margin-left: 0;
      }
    }

    @media (max-width: 450px) {
      .left {
        width: 100%;
      }

      .search-bar {
        width: 100%;
      }

      .right {
        display: none;
      }


    }


    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    .header {
      position: fixed;
      width: 30%;
    }

    ._right {
      float: right;
    }


    @media (min-width: 768px) {
      .container {
        width: 100%;
        height: 100%;
      }
    }

    div.edit {
      width: 100%;
      display: inline-block;
      flex: 1;
      padding: 10px;
      max-height: 50%;
      background: white;
      overflow-y: scroll;
      border-radius: 5px;
      outline: none;
      margin-bottom: 5px;
      font-size: 17px;
    }

    [contentEditable=true]:empty:not(:focus):before {
      content: attr(data-placeholder)
    }



    pre {
      white-space: pre-line;
      word-wrap: break-word;
      text-align: justify;
    }

    span {
      display: none;
    }

    .closes {
      display: block;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .emoji {
      height: 1em;
      width: 1em;
    }

    li {
      display: block;
    }

    /* The Modal (background) */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 100;
      /* Sit on top */
      padding-top: 100px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: rgb(230, 236, 221);
      margin: auto;
      ;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 40%;
    }

    @media only screen and (max-width: 600px) {
      .modal-content {
        width: 80%;
      }
    }


    input,
    textarea[name="desc"] {
      width: 70%;

    }

    .btn {

      padding: 12px 18px;
    }

    .active_ {
      background-color: #4CAF50;
      color: white;
    }

    #back_ {
      display: none;
      font-size: 0.9em;
    }

    #on_but {
      margin-top: 10px;
    }

    .button-secondary {
      background: rgb(28, 184, 65);
      border-radius: 4px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      padding: 7px 11px;
      font-weight: bold;


      border: none;
      color: white;

      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
    }

    .head_ {
      font-size: 2em;
      margin: .67em 0;
      display: block;
      color: rgb(119, 119, 119);
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
    }

    .pointer {
      cursor: pointer;
      background-color: rgb(92, 184, 92);
      color: white;
    }

    .message-text li {
      display: list-item;
    }

    .active-tab {
      background-color: dimgrey;
    }
  </style>
  <style>
    .menu-btn {
      background-color: rgb(76, 175, 80);
      color: white;
      border-radius: 5px;
      width: 100%;
      font-weight: bold;
      padding: 1em 2em;
      font-size: 16px;
      font-weight: bolder;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      border: none;
    }

    .dropdown-menu_ {
      margin-left: 4em;
      width: 55%;
      position: relative;
      display: inline-block;
    }

    .menu-content {
      display: none;
      position: absolute;
      background-color: #017575;
      min-width: 160px;
      z-index: 1;
    }

    .links {
      color: rgb(255, 255, 255);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-size: 18px;
      font-weight: bold;
      border-bottom: 1px solid black;
    }

    .links:hover {
      background-color: rgb(8, 107, 46);
    }

    .dropdown-menu:hover .menu-btn {
      background-color: #3e8e41;
    }
  </style>
</head>

<body>
  <div style="display: none;" id="curr_user" name='<%=curr_user.username%>'>
  </div>
  <div style="display: none;" id="curr_user_id" name='<%=curr_user.id%>'>
  </div>

  <div style="display: none;" id="tid">
  </div>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <div class="container">
    <div id="mySidebar" class="sidebar">

      <a href="/">Home</a>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">✖</a>

      <a href='<%=about%>'>About</a>
      <a href='<%=home%>'>Chat</a>
      <a href='<%=blog%>'>Blogs</a>
      <a href='<%=project%>'>Projects</a>

      <a href='<%=feedback%>'>Feedback</a>
      <a href='<%=profile%>'>Profile</a>

      <a href="<%=logout%>">Logout</a>


    </div>

    <div class="panel messages-panel">
      <div class="contacts-list">
        <div class="header">
          <button class="openbtn" onclick="openNav()">☰</button>
        </div>
        <div class="inbox-categories">

          <div data-toggle="tab" data-target="#inbox" class="active _right" id="new_message"
            class="btn btn btn-success new-message"> <i class="fa fa-envelope"></i> </div>

        </div>
        <div class="dropdown-menu_">
          <button id="menu_active" class="menu-btn">Categories</button>
          <div class="menu-content">
            <div id="private_click" class="pointer links" onClick='function_pvt()'>
              <li id="private" class="" data-toggle="" data-target="">
                <h3 class="">
                  <i class="fa fa-user" aria-hidden="true"></i>

                  <b>Private Messages</b></h3>
                <h5>
                </h5>
              </li>
            </div>
            <div id="group_click" class="pointer links" onClick='function_category()'>
              <li id="group" class="" data-toggle="" data-target="">
                <h3 class="">
                  <i style="font-size:24px" class="fa">&#xf0c0;</i>

                  <b>Groups</h3>
                <h5>
                </h5>
              </li>
            </div>
            <div id="category_click" class="pointer links" onClick='function_category_common()'>
              <li id="category" class="" data-toggle="" data-target="">
                <h3 class="">
                  <i class="fa fa-list-alt" aria-hidden="true"></i>

                  <b>Categories</b></h3>
                <h5>
                </h5>
              </li>
            </div>

          </div>
        </div>
        <div class="tab-content">


          <div id="inbox" class="contacts-outter-wrapper tab-pane active">
            <form class="panel-search-form info form-group has-feedback no-margin-bottom">
              <input type="text" id="myInput" onkeyup="myFunc()" class="form-control" name="search"
                placeholder="Search">
              <span class="fa fa-search form-control-feedback"></span>
            </form>

            <div class="contacts-outter">

              <ul id="myUL" class="list-unstyled contacts">




                <div id="holder2">


                </div>
                <div id="holder4">


                </div>
                <div id="holder5">


                </div>
                <div id="holder6">


                </div>
              </ul>
            </div>

          </div>

        </div>
      </div>

      <div class="tab-content">
        <div class="tab-pane message-body" id="inbox-message-1">
          <div class="message-top">
            <center>
              <div id="slug">
              </div>
            </center>

            <button id="back_" class="openbtn" onclick="my_func2()">⬅️ Back</button>
            <div class="new-message-wrapper">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Send message to...">
                <a class="btn btn-danger close-new-message" href="#"><i class="fa fa-times"></i></a>
              </div>

              <div class="chat-footer new-message-textarea">
                <textarea class="send-message-text"></textarea>
                <label class="upload-file">
                  <input type="file" required="">
                  <i class="fa fa-share-alt"></i>
                </label>
                <button type="button" class="send-message-button btn-info"> <i class="fa fa-send"></i> </button>
              </div>
            </div>
          </div>

          <div class="message-chat">
            <div id="chat_" class="chat-body">
              <div id="holder3">



              </div>

            </div>
            <center>
              <div class="chat-footer">
                <button type="button" name="show_toolbar" id="show_toolbar" style="display: none;">👇</button>
                <button type="button" name="hide_toolbar" id="hide_toolbar" style="display:none;">👆</button>
                <div contenteditable="true" class="edit" id='editor'></div>
                <textarea id="temp_editor" class="send-message-text" onclick="showDiv()"></textarea>
                <form class="" action='/reply' method="post" id='reply_form'>
                  <input type="text" name="body" value="" id='reply_data' style="display: none;">
                  <button type="button" name="post" id='saveDelta' class="send-message-button btn-info"> <i
                      class="fa fa-send"></i></button>
                </form>

              </div>
            </center>
          </div>
        </div>




      </div>
    </div>
  </div>
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span style="cursor:pointer" class="closes">✖</span>
      <center>
        <h1 class="head_">Start discussion</h1>
        <form action="/chatpost" method="POST" id='pvt_msg_form'>

          <input type="text" name="title" required='' autocomplete="off" placeholder="Title"> <br>
          <textarea name="desc" required='' autocomplete="off" placeholder="Description"></textarea> <br>

          <input type="text" name="user_search" placeholder="Add User" list="users1" autocomplete="off" required=''>
          <datalist id='users1'>

          </datalist>
          <br>

          <p align="right">
            <button class="button-secondary" type="submit" id='on_but' name="compose">Compose</button>
          </p>
        </form>
      </center>

    </div>

  </div>



  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">

  </script>
  <script>
    let dropdownBtn = document.querySelector('.menu-btn');
    let menuContent = document.querySelector('.menu-content');
    dropdownBtn.addEventListener('click', () => {
      if (menuContent.style.display === "") {
        menuContent.style.display = "block";
      } else {
        menuContent.style.display = "";
      }
    })
  </script>
  <script>
    window.onload = function () {
      document.getElementById("category_click").click();

    };
  </script>
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("new_message");


    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("closes")[0];

    // When the user clicks the button, open the modal
    $(document).ready(function () {
      btn.addEventListener('click', function () {
        // alert("ji");
        if (document.getElementById('home')) {
          modal.style.display = "block";
          $.ajax({
            url: '/categories'
          }).done(
            (data) => {
              $('select[name="category"] option').remove();
              $('select[name="category"]').append('<option value=\"\" disabled selected>Select your Category</option>');
              for (var i = 0; i < data.length; i++) {
                $('select[name="category"]').append('<option value=\"' + data[i].id + '\">' + data[i].name + '</option>');
              }
            }
          );
        } else {
          modal.style.display = "block";

          $.ajax({
            url: '/categories'
          }).done(
            (data) => {
              $('select[name="category"] option').remove();
              $('select[name="category"]').append('<option value=\"\" disabled selected>Select your Category</option>');
              for (var i = 0; i < data.length; i++) {
                $('select[name="category"]').append('<option value=\"' + data[i].id + '\">' + data[i].name + '</option>');
              }
            }
          );
        }
      });


      $('input[name="user_search"]').keyup(() => {
        var text = $('input[name="user_search"]').val();
        $.ajax({
          url: '/find',
          data: { text: text }
        }).done(
          (data) => {
            $('#users1 option').remove();
            for (var i = 0; i < data.length; i++) {
              var txt = data[i].name + ' (@' + data[i].username + ')';
              $('#users1').append('<option value=\"' + data[i].username + '\">' + txt + '</option>');
            }
          }
        );
      });
    });

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>


  <script src="/js/quill.js"></script>
  <script>
    function myFunc() {
      //alert("hi");
      // Declare variables
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName('li');
      //alert(filter);
      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i].id;
        txtValue = a;
        // alert(txtValue);
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          // alert(li[i].id);
          li[i].style.display = "";
        } else {
          // alert("hi");
          li[i].style.display = "none";
        }
      }
    }
  </script>
  <script>

    document.getElementById('editor').style.display = "none";
    function showDiv() {
      $(".chat-body").animate({ scrollTop: $('.chat-body').prop("scrollHeight") }, 1000);
      //  alert("hi");
      $(".chat-footer").css('height', "30%");
      $(".chat-body").css('height', "70vh");
      // alert("hello");

      document.getElementById('editor').style.display = "inline-block";
      document.getElementById('temp_editor').style.display = "none";
      $('#show_toolbar').show();
      //document.querySelector('.ql-toolbar.ql-snow').style.display = "inline-block";
    }

    $('#show_toolbar').click(() => {
      $('#show_toolbar').hide();
      $('#hide_toolbar').show();
      document.querySelector('.ql-toolbar.ql-snow').style.display = "inline-block";
    });
    $('#hide_toolbar').click(() => {
      $('#hide_toolbar').hide();
      $('#show_toolbar').show();
      document.querySelector('.ql-toolbar.ql-snow').style.display = "none";
    });
    var options = [
      ['bold', 'italic', 'underline', 'strike'],
      ['blockquote', 'code-block'],
      [{ 'header': 1 }, { 'header': 2 }],
      [{ 'list': 'ordered' }, { 'list': 'bullet' }],
      [{ 'script': 'sub' }, { 'script': 'super' }],
      [{ 'indent': '-1' }, { 'indent': '+1' }],
      [{ 'direction': 'rtl' }],
      [{ 'color': [] }, { 'background': [] }],
      [{ 'font': [] }],

      ['link', 'image', 'video']
    ];


    var quill = new Quill('#editor', {
      modules: {
        toolbar: options,

      },
      placeholder: "Type your message",
      scrollingContainer: '#editor',
      theme: 'snow'
    });
    document.getElementById('saveDelta').addEventListener('click', function () {
      var body = document.querySelector('div.ql-editor').innerHTML;
      var topic_id = $('#tid').attr('name');
      var topic_slug = $('#slug').attr('name');
      var url = '/reply/' + topic_slug + '/' + topic_id;
      $('#reply_data').val(body);
      quill.setContents('');
      $.ajax(url,{
        type:'POST',
        data:{
          slug:topic_slug,
          tid:topic_id,
          body:body
        },
        success:function (data,status,xhr) {   // success callback function
          $('#holder3').html('');
          setTimeout(function(){
            $('.pointer.links.active-tab').click();
            load_posts(topic_slug+'/'+topic_id+'/1');
            $(".chat-body").animate({ scrollTop: $('.chat-body').prop("scrollHeight") }, 500);
          },1000);
       },
        error:function(jqXhr, textStatus, errorMessage){alert('Failed to send message '+ errorMessage);}
      });
    });
  </script>
  <script>
    function function_pvt() {
      $('#menu_active').text('Messages');
      var e = document.getElementById("category_click");
      e.classList.remove("active-tab");
      var e = document.getElementById("private_click");
      e.classList.add("active-tab");
      var e = document.getElementById("group_click");
      e.classList.remove("active-tab");
      document.getElementById("holder2").style.display = "Block";
      var my_div = $("#holder2");


      var username = $('#curr_user').attr('name');
      //alert("hi");

      $.ajax({
        url: "receive/" + username
      })

        .done(function (data) {
          //console.log(data);
          $('#holder2').html("");
          var elements = '';


          for (var i = 0; i < data.length; i++) {
            var mydate, user_id, newdate, newtime, slud, ide;
            var img = "https://bootdey.com/img/Content/avatar/avatar1.png";

            mydate = data[i].last_posted_at;
            slug = data[i].slug;
            ide = data[i].id;


            newdate = mydate[8] + mydate[9] + "/" + mydate[5] + mydate[6];
            //alert('newdate: ' + newdate);

            newtime = mydate[11] + mydate[12] + mydate[13] + mydate[14] + mydate[15];
            // alert('newtime: ' + newtime);

            elements = elements + '<div onClick=' + 'load_posts("' + slug + "/" + ide + "/1" + '")' + '>' + '<li id="' + data[i].fancy_title + '" class="" data-toggle="tab" data-target="#inbox-message-' + i + '">' + '<div class="message-count">' + data[i].posts_count + '</div>' + '<img alt="" class="img-circle medium-image" src="' + img + '">' + '<div class="vcentered info-combo">' + '<h3 class="no-margin-bottom name">' + '<b>' + data[i].fancy_title + '</b>' + ' </h3>' + '<h5>' + "Latest post by:" + data[i].last_poster_username + '</h5>' + '</div>' + '<div class="contacts-add">' + '<span class="message-time">' + newdate + '<br>' + newtime + '<sup>' + '</sup>' + '</span>' + '<i class="fa fa-trash-o">' + '</i>' + '</div>' + '</li>' + '</div>';

          }

          $('#holder2').append(elements);

          $.ajax({
            url: "sent/" + username
          })

            .done(function (data2) {
              //console.log(data2);


              var elements = '';


              for (var i = 0; i < data2.length; i++) {
                var mydate, newdate, newtime, slug, ide;

                mydate = data2[i].last_posted_at;
                slug = data2[i].slug;
                ide = data2[i].id;

                newdate = mydate[8] + mydate[9] + "/" + mydate[5] + mydate[6];
                //alert('newdate: ' + newdate);

                newtime = mydate[11] + mydate[12] + mydate[13] + mydate[14] + mydate[15];
                // alert('newtime: ' + newtime);

                elements = elements + '<div onClick=' + 'load_posts("' + slug + "/" + ide + "/1" + '")' + '>' + '<li id="' + data2[i].fancy_title + '" class="" data-toggle="tab" data-target="#inbox-message-' + 1 + '">' + '<div class="message-count">' + data2[i].posts_count + '</div>' + '<img alt="" class="img-circle medium-image" src="https://bootdey.com/img/Content/avatar/avatar1.png">' + '<div class="vcentered info-combo">' + '<h3 class="no-margin-bottom name">' + '<b>' + data2[i].fancy_title + '</b>' + ' </h3>' + '<h5>' + "Latest post by:" + data2[i].last_poster_username + '</h5>' + '</div>' + '<div class="contacts-add">' + '<span class="message-time">' + newdate + '<br>' + newtime + '<sup>' + '</sup>' + '</span>' + '<i class="fa fa-trash-o">' + '</i>' + '</div>' + '</li>' + '</div>';

              }

              $('#holder2').append(elements);

            });


        });


      setTimeout(function () {
        $(".chat-body").animate({ scrollTop: $('.chat-body').prop("scrollHeight") }, 1000);
      }, 1);
      document.getElementById("holder4").style.display = "None";
      document.getElementById("holder5").style.display = "None";
      document.getElementById("holder6").style.display = "None";
    }
    function function_category() {
      $('#menu_active').text('Groups');
      var e = document.getElementById("category_click");
      e.classList.remove("active-tab");
      var e = document.getElementById("private_click");
      e.classList.remove("active-tab");
      var e = document.getElementById("group_click");
      e.classList.add("active-tab");
      var username = $('#curr_user').attr('name');
      document.getElementById("holder6").style.display = "None";
      document.getElementById("holder4").style.display = "Block";
      document.getElementById("holder2").style.display = "None";
      document.getElementById("holder5").style.display = "None";
      $.ajax({
        url: "/user/subscribed/" + username
      })

        .done(function (data) {
          //console.log(data);

          var elements = '';
          for (var i = 0; i < data.length; i++) {
            var slug, ide;
            slug = data[i].slug;
            ide = data[i].id;

            elements = elements + '<div onClick=' + 'load_topics("' + slug + "/" + ide + "/load/0" + '")' + '>' + '<li id="' + data[i].name + '" class="" data-toggle="" data-target="">' + '<div class="message-count">' + data[i].topic_count + '</div>' + '<img alt="" class="img-circle medium-image" src="https://bootdey.com/img/Content/avatar/avatar1.png">' + '<div class="vcentered info-combo">' + '<h3 class="no-margin-bottom name">' + '<b>' + data[i].name + '</b>' + ' </h3>' + '<h5>' + "Latest post by:" + '</h5>' + '</div>' + '<div class="contacts-add">' + '<span class="message-time">' + '<br>' + '<sup>' + '</sup>' + '</span>' + '<i class="fa fa-trash-o">' + '</i>' + '<i class="fa fa-share-alt " >' + '</i>' + '</div>' + '</li>' + '</div>';
          }

          $('#holder4').html(elements);
        });


    }
    function function_category_common() {
      $('#menu_active').text('Categories');
      var e = document.getElementById("category_click");
      e.classList.add("active-tab");
      var e = document.getElementById("private_click");
      e.classList.remove("active-tab");
      var e = document.getElementById("group_click");
      e.classList.remove("active-tab");
      var username = $('#curr_user').attr('name');
      document.getElementById("holder6").style.display = "Block";
      document.getElementById("holder4").style.display = "None";
      document.getElementById("holder2").style.display = "None";
      document.getElementById("holder5").style.display = "None";
      $.ajax({
        url: "/user/common/" + username
      })

        .done(function (data) {


          var elements = '';
          for (var i = 0; i < data.length; i++) {
            var slug, ide, logo;
            logo="https://bootdey.com/img/Content/avatar/avatar1.png";
            slug = data[i].slug;
            ide = data[i].id;
            if (data[i].uploaded_logo) {
              logo = data[i].uploaded_logo.url;
              logo="https://t2.metastudio.org"+logo;
            }
            if(data[i].description){
            elements = elements + '<div onClick=' + 'load_topics("' + slug + "/" + ide + "/load/0" + '")' + '>' + '<li id="' + data[i].name + '" class="" data-toggle="" data-target="">' + '<div class="message-count">' + data[i].topic_count + '</div>' + '<img alt="" class="img-circle medium-image" src="'+logo+'">' + '<div class="vcentered info-combo">' + '<h3 class="no-margin-bottom name">' + '<b>' + data[i].name + '</b>' + ' </h3>' + '<h5>' +data[i].description.substring(0,60)+'...' + '</h5>' + '</div>' + '<div class="contacts-add">' + '<span class="message-time">' + '<br>' + '<sup>' + '</sup>' + '</span>' + '<i class="fa fa-trash-o">' + '</i>' + '<div onClick=' + 'copy_topic("' + "/group/" + slug + "/" + ide + '")' + '>' + '<i class="fa fa-share-alt">' + '</i>' + '</div>' + '</div>' + '</li>' + '</div>';
          }else{
              elements = elements + '<div onClick=' + 'load_topics("' + slug + "/" + ide + "/load/0" + '")' + '>' + '<li id="' + data[i].name + '" class="" data-toggle="" data-target="">' + '<div class="message-count">' + data[i].topic_count + '</div>' + '<img alt="" class="img-circle medium-image" src="'+logo+'">' + '<div class="vcentered info-combo">' + '<h3 class="no-margin-bottom name">' + '<b>' + data[i].name + '</b>' + ' </h3>' +'</div>' + '<div class="contacts-add">' + '<span class="message-time">' + '<br>' + '<sup>' + '</sup>' + '</span>' + '<i class="fa fa-trash-o">' + '</i>' + '<div onClick=' + 'copy_topic("' + "/group/" + slug + "/" + ide + '")' + '>' + '<i class="fa fa-share-alt">' + '</i>' + '</div>' + '</div>' + '</li>' + '</div>';
            }
          }

          $('#holder6').html(elements);
        });


    }
  </script>
  <script>
    function copy_topic(x) {
      alert("Copy: " + x);
    }

    function load_topics(x) {
      document.getElementById("holder5").style.display = "Block";
      document.getElementById("holder2").style.display = "None";
      document.getElementById("holder6").style.display = "None";
      document.getElementById("holder4").style.display = "None";
      var my_div = $("#holder5");
      var l = 1;



      $.ajax({

        url: "/group/" + x
      })
        .done(function (data) {
          // //console.log(data);

          data = data.topic_list.topics;

          var elements = '';


          for (var i = 0; i < data.length; i++) {
            var mydate, newdate, newtime, slug, ide, logo;
            slug = data[i].slug;
            ide = data[i].id;

            if (data[i].last_posted_at != null) {
              mydate = data[i].last_posted_at;

              newdate = mydate[8] + mydate[9] + "/" + mydate[5] + mydate[6];
              newtime = mydate[11] + mydate[12] + mydate[13] + mydate[14] + mydate[15];

            }
            else {
              newdate = "";
              newtime = "";
            }
            elements = elements + '<div onClick=' + 'load_posts("' + slug + "/" + ide + "/1" + '")' + '>' + '<li id="' + data[i].title + '" class="" data-toggle="tab" data-target="#inbox-message-' + i + '">' + '<div class="message-count">' + data[i].posts_count + '</div>' + '<img alt="" class="img-circle medium-image" src="https://bootdey.com/img/Content/avatar/avatar1.png">' + '<div class="vcentered info-combo">' + '<h3 class="no-margin-bottom name">' + '<b>' + data[i].fancy_title + '</b>' + ' </h3>' + '<h5>' + "Latest post by:" + data[i].last_poster_username + '</h5>' + '</div>' + '<div class="contacts-add">' + '<span class="message-time">' + newdate + '<br>' + newtime + '<sup>' + '</sup>' + '</span>' + '<i class="fa fa-trash-o">' + '</i>' + '<div onClick=' + 'copy_topic("' + "/post/t/" + slug + "/" + ide + "/1" + '")' + '>' + '<i class="fa fa-share-alt ">' + '</i>' + ' </div>' + '</div>' + '</li>' + '</div>';

          }


          $('#holder5').html(elements);
        });

    }
  </script>

  <script>
    function my_Function(z) {

      if (z.matches) { // If media query matches
        //alert("hi");
        document.getElementById("inbox").style.display = "None";
        document.getElementById("back_").style.display = "Block";
        document.getElementById("inbox-message-1").style.display = "Block";
      }
      else {
        document.getElementById("inbox").style.display = "Block";
        document.getElementById("inbox-message-1").style.display = "Block";
        document.getElementById("back_").style.display = "None";
      }
    }
    function my_Function2(z) {

      if (z.matches) { // If media query matches
        //alert("hi");
        document.getElementById("inbox").style.display = "Block";
        document.getElementById("inbox-message-1").style.display = "None";

      }
    }
    function my_func2() {
      // alert("ki");
      var z = window.matchMedia("(max-width: 767px)")
      my_Function2(z) // Call listener function at run time
      z.addListener(my_Function2) // Attach listener function on state changes


    }

    function load_posts(x) {

      var username = $('#curr_user').attr('name');

      var y = x.split('/');

      var tid = y[1];
      var tslug = y[0];


      $('#slug').attr('name', tslug);
      $('#slug').html('<h4 id="topic_head">' + tslug.split('_').join(' ').split('-').join(' ') + '</h4>');
      $('#tid').attr('name', tid);
      //  alert('clicked');
      $('li').removeClass('active');
      $(this).addClass('active');


      var my_div = $("#holder3");

      //alert("hi");

      $.ajax({
        url: "post/more/t/" + x
      })

        .done(function (data) {

          var elements = '';


          for (var i = 0; i < data.length; i++) {

            if (data[i].username != username) {//for receive
              elements = elements + '<div class="message info">' + '<img alt="" class="img-circle medium-image" src="https://t2.metastudio.org/user_avatar/t2.metastudio.org/' + data[i].username + '/120/671_2.png">' + '<div class="message-body">' + '<div class="message-info">' + '<b>' + "@" + data[i].username + "--" + data[i].name + '</b>' + ' </h3>' + '<h5>' + '</h5>' + '</div>' + '<hr>' + '<div class="message-text">' + data[i].cooked + '</div>' + '</div>' + '<br>' + '</div>';
            }
            else {
              //for sent
              elements = elements + '<div class="message my-message">' + '<img alt="" class="img-circle medium-image" src="https://t2.metastudio.org/user_avatar/t2.metastudio.org/' + data[i].username + '/120/671_2.png">' + '<div class="message-body">' + '<div class="message-body-inner">' + '<div class="message-info">' + '<b>' + "@" + data[i].username + "--" + data[i].name + '</b>' + ' </h3>' + '<h5>' + '</h5>' + '</div>' + '<hr>' + '<div class="message-text">' + data[i].cooked + '</div>' + '</div>' + '</div>' + '<br>' + '</div>';

            }
          }

          $('#holder3').html(elements);
          document.getElementById('chat_').scrollTop = 9999999;
        });


      var z = window.matchMedia("(max-width: 767px)")
      my_Function(z) // Call listener function at run time
      z.addListener(my_Function) // Attach listener function on state changes
      //alert(x);

    }

  </script>
  <script>
    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }

    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
    }

  </script>
</body>

</html>
