<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>STEMChat</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/quill.css">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
  <div style="display: none;" id="curr_user" name='<%=curr_user.username%>'>
  </div>
  <div style="display: none;" id="curr_user_id" name='<%=curr_user.id%>'>
  </div>
  <div style="display: none;" id="url" name='<%=url%>'>
  </div>
  <div style="display: none;" id="tid"></div>
  <div style="display: none;" id="page_url" name='<%=page_url%>'></div>
  <div style="display: none;" id="posts_count" name='<%=topic_data.posts_count%>'></div>
  <div style="display: none;" id="specific_posts_page" name='<%=specific_posts_page%>'></div>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <div class="container">
    <div id="mySidebar" class="sidebar">

      <a href="/">Home</a>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">✖</a>

      <a href='<%=about%>'>About</a>
      <a href='<%=home%>'>Chat</a>
      <a href='<%=blog%>'>Blogs</a>
      <a href='<%=project%>'>Projects</a>

      <a href='<%=feedback%>'>Feedback</a>
      <a href='<%=profile%>'>Profile</a>

      <a href="<%=logout%>">Logout</a>


    </div>

    <div class="panel messages-panel">
      <div class="contacts-list">
        <div class="header">
          <button class="openbtn" onclick="openNav()">☰</button>
        </div>
<!--         <div class="inbox-categories">

          <div data-toggle="tab" data-target="#inbox" class="active _right" id="new_message"
            class="btn btn btn-success new-message"> <i class="fa fa-envelope"></i> </div>

        </div> -->
        <div class="dropdown-menu_">
          <button id="menu_active" class="menu-btn">Categories</button>
          <div class="menu-content">
            <div id="private_click" class="pointer links" onClick='function_pvt()'>
              <li id="private" class="" data-toggle="" data-target="">
                <h4 class="menu_move">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  Private Messages</h4>
              </li>
            </div>
            <div id="group_click" class="pointer links" onClick='function_category()'>
              <li id="group" class="" data-toggle="" data-target="">
                <h4 class="menu_move">
                  <i style="font-size:24px" class="fa">&#xf0c0;</i>
                  Groups</h4>
              </li>
            </div>
            <div id="category_click" class="pointer links" onClick='function_category_common()'>
              <li id="category" class="" data-toggle="" data-target="">
                <h4 class="menu_move">
                  <i class="fa fa-list-alt" aria-hidden="true"></i>

                  Categories</h4>
                <h5>
                </h5>
              </li>
            </div>

          </div>
        </div>
        <div class="tab-content">


          <div id="inbox" class="contacts-outter-wrapper tab-pane active">
            <div class="im_diaglog_search">
            <file class="panel-search-form info form-group has-feedback no-margin-bottom">
              <div class="input-icons"> 
                <i class="fa fa-search icon"> 
                </i> 
              <input type="text" id="myInput" onkeyup="myFunc()" class="form-control input-field" name="search"
                placeholder="Search">
              <!-- <span class="fa fa-search form-control-feedback"></span> -->
              </div>
            </form>
            </div>

            <div class="contacts-outter">

              <ul id="myUL" class="list-unstyled contacts">




                <div id="holder2">


                </div>
                <div id="holder4">


                </div>
                <div id="holder5">


                </div>
                <div id="holder6">


                </div>
                <div id="holder7">

                  <%if(page_url == "topic"){%>
                  <div><li id="<%= topic_data.title%>" class="active" data-toggle="tab" data-target="#inbox-message-0"><div class="message-count"><%= topic_data ? topic_data.posts_count : "0" %></div><img alt="" class="img-circle medium-image" src="https://bootdey.com/img/Content/avatar/avatar1.png"><div class="vcentered info-combo"><h3 class="no-margin-bottom name"><b><%= topic_data.title%></b> </h3><h5>Latest post by:<%=topic_data.details.last_poster.username%></h5></div><div class="contacts-add">
                    <span class="message-time">
                    <%var year_month = topic_data.last_posted_at.split("T")[0];time = topic_data.last_posted_at.split("T")[1]; %>
                      <%= year_month.split("-")[2]+"/"+year_month.split("-")[1] %><br>
                      <%= time.split(":")[0]+":"+time.split(":")[1] %>
                    <sup></sup></span><i class="fa fa-trash-o"></i><div><i class="fa fa-share-alt "></i> </div></div></li></div>
                  <%}%>
                </div>
                <div id="holder8" style="display: none;"></div>
              </ul>
            </div>

          </div>

        </div>
      </div>

      <div class="tab-content">
        <div class="tab-pane message-body" id="inbox-message-1">
          <div class="message-top">
            <center>
              <div id="slug">
                <%if(page_url == "topic"){%> <h4 id="topic_head">  <%if(topic_data){%> <%=topic_data.title%> <%}%> </h4> <%}%>
              </div>
            </center>

            <button id="back_" class="openbtn" onclick="my_func2()">⬅️ Back</button>
            <div class="new-message-wrapper">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Send message to...">
                <a class="btn btn-danger close-new-message" href="#"><i class="fa fa-times"></i></a>
              </div>

              <div class="chat-footer new-message-textarea">
                <textarea class="send-message-text"></textarea>
                <label class="upload-file">
                  <input type="file" required="">
                  <i class="fa fa-share-alt"></i>
                </label>
                <button type="button" class="send-message-button btn-info"> <i class="fa fa-send"></i> </button>
              </div>
            </div>
          </div>

          <div class="message-chat">
            <div id="chat_" class="chat-body">
              <%if(topic_data && topic_data.post_stream && (topic_data.post_stream.posts[0].post_number != post_number ) && post_number != "" ){%>
                <button id="load_previous_posts" onclick="load_more(this)">Load Previous Posts</button>
              <% } else if(page_url!="topic"){ %>
                <button id="load_previous_posts" onclick="load_more(this)">Load Previous Posts</button>
              <%}%>
              <%= post_number%>
              <div id="holder3">
                <%if(topic_data){%>
                <% var temp = false %>
                <% var display = 'style=display:none;' %>
                <textarea id="post_ids" style="display: none;">
                  <%= topic_data.post_stream.stream.slice(  (20* ((Math.ceil((topic_data.post_stream.stream.indexOf((Number(topic_data.post_stream.posts[0].id)))-1) / 20)-1)  )) ,(Number(topic_data.post_stream.stream.indexOf((Number(topic_data.post_stream.posts[0].id)))+1) -1)  )%>
                  </textarea>
                <%for(var i=0;i<topic_data.post_stream.posts.length;i++){%>
                <% var page_number = Math.ceil((topic_data.post_stream.stream.indexOf((Number(topic_data.post_stream.posts[i].id)))+1) / 20) %>
                <%if( temp == false && post_number!="" && topic_data.post_stream.posts[i].post_number.toString() != post_number ){%>
                  <% display = 'style=display:none;' %>
                <%} else {%>
                  <% display = 'style=display:block;' %>
                  <% temp= true %>
                <%}%>
                <div <%= display %> id="msg_<%= topic_data.post_stream.posts[i].topic_id%>_<%= topic_data.post_stream.posts[i].post_number%>_<%= topic_data.posts_count%>_<%= page_number%>" data-post_id="<%=topic_data.post_stream.posts[i].id%>" data-count="<%=topic_data.post_stream.stream.indexOf((Number(topic_data.post_stream.posts[i].id)))+1%>" data-page_number="<%=page_number %>" class="message <%= topic_data.post_stream.posts[i].username === curr_user.username ? 'my-message' : 'my-info' %>">
                  <!-- <img alt="" class="img-circle medium-image" src="<%=url%>user_avatar/<%=url.substring(9)%>/<%=topic_data.post_stream.posts[i].username%>/120/671_2.png"> --><div class="message-body"><div class="message-body-inner"><div class="message-info"><b><%=topic_data.post_stream.posts[i].username%></b> <i id="reply_btn_<%= topic_data.post_stream.posts[i].topic_id%>_<%= topic_data.post_stream.posts[i].post_number%>" type="button" class="fa fa-reply reply_function" title="<%=topic_data.post_stream.posts[i].cooked%>"></i>
                    <button id="share_btn_<%= topic_data.post_stream.posts[i].topic_id%>_<%= topic_data.post_stream.posts[i].post_number%>_<%= topic_data.post_stream.posts[i].id%>" type="button" data-tslug="<%=topic_data.slug%>" title="share a link to this post" onclick="share_function(this)">Share</button>
                    <%if(topic_data.post_stream.posts[i].username === curr_user.username){%>
                    <button id="delete_btn_<%= topic_data.post_stream.posts[i].topic_id%>_<%= topic_data.post_stream.posts[i].post_number%>_<%= topic_data.post_stream.posts[i].id%>" type="button" data-tslug="<%= topic_data.slug%>" onclick="delete_function(this)">Delete</button>
                    <%}%>
                  </div><hr><div class="message-text"><%- topic_data.post_stream.posts[i].cooked%></div></div>
                  <%if(Number(topic_data.post_stream.posts[i].reply_count) > 0 && topic_data.post_stream.posts[i+1] && (topic_data.post_stream.posts[i].post_number != topic_data.post_stream.posts[i+1].reply_to_post_number) ) {%>
                  <button id="msg_<%= topic_data.post_stream.posts[i].topic_id%>_<%= topic_data.post_stream.posts[i].post_number%>_<%= topic_data.posts_count%>_<%= page_number%>" data-post_id="<%=topic_data.post_stream.posts[i].id%>" type="button" class="see_replies"> <%= topic_data.post_stream.posts[i].reply_count%>
                    <%= (Number(topic_data.post_stream.posts[i].reply_count) == 1 ? ' Reply': ' Replies') %> </button>
                  <%}%>
                  <%if(topic_data.post_stream.posts[i].actions_summary.length > 0){%>
                    <%for(var j=0;j<topic_data.post_stream.posts[i].actions_summary.length;j++){%>
                      <%if(topic_data.post_stream.posts[i].actions_summary[j].count) {%>
                      <%=topic_data.post_stream.posts[i].actions_summary[j].count %>
                      <i class="fa fa-heart"></i>
                      <%}%>
                    <%}%>
                  <%}%>
                  <%var message_datetime = new Date(topic_data.post_stream.posts[i].updated_at).toLocaleString([], { hour: '2-digit', minute: '2-digit' , day: '2-digit', month: '2-digit', year: '2-digit'}).split("/");
                  message_datetime = message_datetime[1]+"/"+message_datetime[0]+"/"+message_datetime[2];%>
                  <%= message_datetime%>
                </div><br>
                </div>
                <%}%>
                <%}%>
              </div>
              <%if(topic_data && topic_data.post_stream.posts && topic_data.post_stream.posts[19]!=undefined ){%>
              <button id="load_next_posts" style="display: none" onclick="load_next_posts(this)">Load Next Posts</button>
              <% var indexoflastpostid = (topic_data.post_stream.stream.indexOf((Number(topic_data.post_stream.posts[19].id)))) %>
              <textarea id="next_post_ids" style="display: none;">
                <%= topic_data.post_stream.stream.slice(  Number(indexoflastpostid) +1 , (Math.ceil(Number((indexoflastpostid+1)/20)) *20)  )%>
              </textarea>
              <%}%>
            </div>
<!--             <center>
              <div>
              
              <div class="chat-footer">
                <button type="button" name="show_toolbar" id="show_toolbar" style="display: none;">👇</button>
                <button type="button" name="hide_toolbar" id="hide_toolbar" style="display:none;">👆</button>
                <div contenteditable="true" class="edit" id='editor'></div>
                <textarea id="temp_editor" class="send-message-text" onclick="showDiv()"></textarea>
                <textarea id="temp_editor" class="send-message-text"></textarea>
                <form class="" action='/reply' method="post" id='reply_form'>
                  <input type="text" name="body" value="" id='reply_data' style="display: none;">
                  <button type="button" name="post" id='saveDelta' class="send-message-button btn-info"> <i
                      class="fa fa-send"></i></button>
                </form>

              </div>
            </div>

            </center> -->
            <div class="display_replies"></div>
            <div class="replyBar">
<!--               <form class="" method="post" id='reply_form'> -->
              <button class="replyBtn">
                <i class="fa fa-paperclip fa-2x" aria-hidden="true">
                <input type="file" name="upload_files" id="upload_files" multiple/>
                </i>
              </button>
              <!-- </form> -->
              <textarea id="replyMessage" type="text" class="replyMessage" placeholder="Type your message..."/></textarea>

              <div class="otherTools">
                <button type="button" name="post" id='saveDelta' class="toolButtons">
                  <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
                </button>

              </div>
            </div>  

          </div>
        </div>




      </div>
    </div>
  </div>
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span style="cursor:pointer" class="closes">✖</span>
      <center>
        <h1 class="head_">Start discussion</h1>
        <form action="/chatpost" method="POST" id='pvt_msg_form'>

          <input type="text" name="title" required='' autocomplete="off" placeholder="Title"> <br>
          <textarea name="desc" required='' autocomplete="off" placeholder="Description"></textarea> <br>

          <input type="text" name="user_search" placeholder="Add User" list="users1" autocomplete="off" required=''>
          <datalist id='users1'>

          </datalist>
          <br>

          <p align="right">
            <button class="button-secondary" type="submit" id='on_but' name="compose">Compose</button>
          </p>
        </form>
      </center>

    </div>

  </div>



  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    var myUrl=$('#url').attr('name');
    myUrl=myUrl.substring(0,myUrl.length-1);
  </script>
  <script src="/js/chat.js" charset="utf-8"></script>
  <script src="/js/quill.js"></script>
  <script>
  //Editor and posting

      // document.getElementById('editor').style.display = "none";
      function showDiv() {
        // $(".chat-body").animate({ scrollTop: $('.chat-body').prop("scrollHeight") }, 1000);
        //  alert("hi");
        $(".chat-footer").css('height', "30%");
        $(".chat-body").css('height', "70vh");
        // alert("hello");

        document.getElementById('editor').style.display = "inline-block";
        document.getElementById('temp_editor').style.display = "none";
        $('#show_toolbar').show();
        //document.querySelector('.ql-toolbar.ql-snow').style.display = "inline-block";
      }

      $('#show_toolbar').click(() => {
        $('#show_toolbar').hide();
        $('#hide_toolbar').show();
        document.querySelector('.ql-toolbar.ql-snow').style.display = "inline-block";
      });
      $('#hide_toolbar').click(() => {
        $('#hide_toolbar').hide();
        $('#show_toolbar').show();
        document.querySelector('.ql-toolbar.ql-snow').style.display = "none";
      });
      var options = [
        ['bold', 'italic', 'underline', 'strike'],
        ['blockquote', 'code-block'],
        [{ 'header': 1 }, { 'header': 2 }],
        [{ 'list': 'ordered' }, { 'list': 'bullet' }],
        [{ 'script': 'sub' }, { 'script': 'super' }],
        [{ 'indent': '-1' }, { 'indent': '+1' }],
        [{ 'direction': 'rtl' }],
        [{ 'color': [] }, { 'background': [] }],
        [{ 'font': [] }],

        ['link', 'image', 'video']
      ];


      // var quill = new Quill('#editor', {
      //   modules: {
      //     toolbar: options,

      //   },
      //   placeholder: "Type your message",
      //   scrollingContainer: '#editor',
      //   theme: 'snow'
      // });
      document.getElementById('saveDelta').addEventListener('click', function () {
        // var body = document.querySelector('div.ql-editor');
        var body = document.querySelector('#replyMessage');
        // console.log("body");
        // console.log(body);
        var reply_message = document.querySelector('div.display_replies');

        var topic_id = $('#tid').attr('name');
        var topic_slug = $('#slug').attr('name');
        // console.log(reply_message);
        // console.log(reply_message.innerHTML);
        if (reply_message && reply_message.innerHTML && body && body.value){
          let fields = reply_message.id.split('_');
          topic_id = fields[2];
          let reply_to_post_number = fields[3];
          // reply_message = reply_message.innerHTML.split("<button");
          let raw = body.value;
          category_id = 0;
          let url = '/reply/' + topic_id + '/' + category_id  + '/' + reply_to_post_number; 
          // console.log(url);
          $.ajax(url,{
          type:'POST',
          data:{
            raw:raw,
          },
          success:function (data,status,xhr) {   // success callback function
            setTimeout(function(){
              $('#holder3').html('');
              $('.pointer.links.active-tab').click();
              body.value='';
              reply_message.innerHTML='';
              load_posts(topic_slug+'/'+topic_id+'/'+(Number(reply_to_post_number)+1));
              setTimeout(()=>{
                    // $(".chat-body").animate({ scrollTop: $('.chat-body').prop("scrollHeight") }, 500);
              },500);
            },1000);
          },
          error:function(jqXhr, textStatus, errorMessage){alert('Failed to send message '+ errorMessage);}
          });
        }
        else if(body){
          // console.log("else sss");
          var url = '/reply/' + topic_slug + '/' + topic_id;
          // console.log(body.innerHTML);
          var body = body.value
          // $('#reply_data').val(body.value);
          // quill.setContents('');
          $.ajax(url,{
            type:'POST',
            data:{
              slug:topic_slug,
              tid:topic_id,
              body:body
            },
            success:function (data,status,xhr) {   // success callback function
              // console.log(data);
              setTimeout(function(){
                // $('#holder3').html('');
                $('#replyMessage').val('');
                // $('.pointer.links.active-tab').click();
                load_posts(topic_slug+'/'+topic_id+'/9999');
                // setTimeout(()=>{
                //       $(".chat-body").animate({ scrollTop: $('.chat-body').prop("scrollHeight") }, 500);
                // },500);
              },1000);
           },
            error:function(jqXhr, textStatus, errorMessage){alert('Failed to send message '+ errorMessage);}
          });
        }
      });


    $('#upload_files').change(function(event){
      var input = this;
      var url = $(this).val();
      var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();

      topic_id = input.dataset.topic_id;
      url = "/upload/"+topic_id;
      var file = event.target.files[0];

      reader = new FileReader();

      reader.onloadend = function () {
        var b64 = reader.result.replace(/^data:.+;base64,/, '');

        $.ajax(url,{
          type:'POST',
          data: {file:b64,filename:file.name},

          success:function (data,status,xhr) {   // success callback function
            console.log(data);
            if(data && data.error!=null){
              alert(data.error);
            }
            else{
              $("#replyMessage").val($("#replyMessage").val() + data);  
            }
         },
          error:function(jqXhr, textStatus, errorMessage){alert('Failed to upload file '+ errorMessage);}
        });
      };

      reader.readAsDataURL(file);

      });


  </script>
</body>

</html>
