<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>STEMChat</title>
    <link rel="shortcut icon" href="./favicon.ico">
    <link rel="stylesheet" href="/css/pure_css.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="/css/blog.css">
</head>

<body>
    <center>
        <div class="topnav" id="myTopnav1">
            <a href="javascript:void(0);" class="icon2" onclick="myFunction1()">
                <i>☰</i>
        </a>

        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
            <a href='<%=profile%>' class="active">Profile</a>
            <%if(curr_user){%>
                <a href='<%=home%>'>Home</a>
                <%}%>
            <a href='<%=about%>'>About</a>
            <a href='<%=blog%>'>Blog</a>
            <a href='<%=project%>'>Projects</a>
            <a href="/">Groups</a>
            <a href='<%=feedback%>'>Feedback</a>
            <%if(!curr_user){%>
                <a href='<%=home%>'>Login</a>
                <%}%>
            <%if(curr_user){%>
                <a href="<%=logout%>">Logout</a>
                <%}%>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->

    </div>

      <div id="main">
          <div class="content">
              <h2 class="content-subhead">Profile</h2>
              <hr>
              </hr>
              <img src='https://ui-avatars.com/api/?name=<%=curr_user.name%>&rounded=true' alt="profile pic round"/>  <h1><%=curr_user.username%></h1><h1><%=curr_user.name%></h1><br><h1><%=curr_user.user_fields['1']%></h1>
              <div class="topnav" id="myTopnav">
                <a href='<%=profile%>' class='active'>Summary</a>
                <a href='<%=activity%>' >Activity</a>
                <a href='<%=notification%>'>Notifications</a>
                <a href='<%=message%>'>Messages</a>
                <a href='<%=badge%>'>Badges</a>
                <a href='<%=pref%>'>Peferences</a>


                  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                      ☰</i>
                  </a>
              </div>



              <!--
              <div class='foot'>
                  <p> MADE BY BITS 2020</p>
              </div>
              -->

      </div>
  </div>


</center>


    <script src="/js/ui.js"></script>

    <script>
         function myFunction1() {
            var x = document.getElementById("myTopnav1");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>



<!-- added here to be condeensed later -->


<style>
    .para {
        text-align: justify;
        font-size: 20px;
    }

    #plus {
        height: 6rem;
        width: 6rem;
        position: fixed;
        bottom: 2.5rem;
        right: 2.5rem;
        opacity: 0.5;
    }

    #plus:hover {
        opacity: 1.0;
    }

    @media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {
            display: none;
        }
        .topnav a.icon2 {
            float: left;
            display: block;
        }

        .topnav a.icon {
            float: right;
            display: block;
        }
    }

    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    @media screen and (max-width: 600px) {
        .topnav.responsive {
            position: relative;
        }
        .topnav.responsive a.icon2 {
            float: left;
            display: block;
        }


        .topnav.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    }

    a.link_head {
        color: black;
    }

    .topnav {
        background-color: #333;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add an active class to highlight the current page */
    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        display: none;
    }
    .topnav .icon2 {
        display: none;
    }



    /* --------------- */



    ._topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    ._topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    ._topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        background-color: #333;
        text-align: center;
    }

    /* Style the hamburger menu */
    ._topnav a._icon {
        background: #333;
        float: left;
        display: block;
    }

    /* Add a grey background color on mouse-over */
    ._topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    ._topnav a._active {
        background-color: #4CAF50;
        color: white;
        text-align: center;
    }
</style>

</html>
