<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>STEMChat</title>
    <link rel="shortcut icon" href="./favicon.ico">
      <link rel="stylesheet" href="/css/pure_css.css">

    <link rel="stylesheet" href="css/feedback.css">
</head>

<body>
    <div class="_topnav">
        <a href="javascript:void(0);" class="_icon" onclick="_myFunction2()">
            <i>☰</i>
        </a>
        <a href='<%=about%>' class="_active">About</a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
            <a href='<%=home%>'>Home</a>
            <a href='<%=blog%>'>Blogs</a>
            <a href='<%=project%>'>Projects</a>
            <a href='<%=feedback%>'>Feedback</a>
            <a href='<%=profile%>'>Profile</a>
            <a href="<%=logout%>">Logout</a>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->

    </div>
    <div id="layout">
        <!-- Menu toggle -->
        <!-- <a href="#menu" id="menuLink" class="menu-link"> -->
            <!-- Hamburger icon -->
            <!-- <span></span>
        </a>

        <div id="menu">
            <div class="pure-menu">
                <a class="pure-menu-heading" href="/">STEMGames</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-item "><a href='<%=home%>' class="pure-menu-link"> Home</a></li>
                    <li class="pure-menu-item"> <a href='<%=about%>' class="pure-menu-link  pure-menu-selected">
                            About</a></li>

                    <li class="pure-menu-item menu-item-divided"> <a href='<%=feedback%>' class="pure-menu-link">
                            Feedback
                        </a> </li>


                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"> Contact</a></li>
                    <li class="pure-menu-item"><a href="<%=logout%>" class="pure-menu-link"> Logout</a></li>
                </ul>
            </div>
        </div> -->
        <div id="main">
            <div class="content">
                <h2 class="content-subhead">FAQ</h2>
                <hr>
                </hr>

                <div class="topnav" id="myTopnav">
                    <a href='<%=about%>'>About</a>
                    <a href='<%=FAQ%>'>FAQ</a>
                    <a href='<%=Terms%>' class="active">Terms of Service</a>
                    <a href='<%=privacy%>'>Privacy</a>

                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        &#x2630</i>
                    </a>
                </div>
                <p>THIS CONTAINS TERMS OF SERVICE.</p>

                <div itemprop="mainContentOfPage">
                    <p>These terms govern use of the Internet platform at<br>
                        <a href="https://stemgames.metastudio.org">https://stemgames.metastudio.org</a>. To use the
                        platform, you must agree<br>
                        to these terms with Homi Bhabha Centre for Science Education, TIFR,<br>
                        that runs the platform. Homi Bhabha Centre for Science Education, TIFR is referred henceforth as
                        the “centre” in this document.</p>
                    <p>The centre may offer other products and services, under different<br>
                        terms. These terms apply only to use of the platform.</p>
                    <p>Skip to:</p>
                    <ul>
                        <li><a href="#headingimportant-terms">Important Terms</a></li>
                        <li><a href="#heading--permission">Your Permission to Use the Platform</a></li>
                        <li><a href="#heading--conditions">Conditions for Use of the Platform</a></li>
                        <li><a href="#heading--acceptable-use">Acceptable Use</a></li>
                        <li><a href="#heading--content-standards">Content Standards</a></li>
                        <li><a href="#heading--enforcement">Enforcement</a></li>
                        <li><a href="#heading--your-account">Your Account</a></li>
                        <li><a href="#heading--your-content">Your Content</a></li>
                        <li><a href="#heading--responsibility">Your Responsibility</a></li>
                        <li><a href="#heading--disclaimers">Disclaimers</a></li>
                        <li><a href="#heading--liability">Limits on Liability</a></li>
                        <li><a href="#heading--feedback">Feedback</a></li>
                        <li><a href="#heading--termination">Termination</a></li>
                        <li><a href="#heading--disputes">Disputes</a></li>
                        <li><a href="#heading--general">General Terms</a></li>
                        <li><a href="#heading--contact">Contact</a></li>
                        <li><a href="#heading--changes">Changes</a></li>
                    </ul>
                    <h2 id="headingimportant-terms">Important Terms</h2>
                    <p><em><strong>These terms include a number of important provisions that affect your rights and
                                responsibilities, such as the disclaimers in <a
                                    href="#heading--disclaimers">Disclaimers</a>, limits on the centre’s liability to
                                you in <a href="#heading--liability">Limits on Liability</a>, your agreement to cover
                                the centre for damages caused by your misuse of the platform in <a
                                    href="#heading--responsibility">Responsibility for Your Use</a>, and an agreement to
                                arbitrate disputes in <a href="#heading--disputes">Disputes</a>.</strong></em></p>
                    <h2 id="heading--permission"><a href="#heading--permission">Your Permission to Use the Platform</a>
                    </h2>
                    <p>Subject to these terms, the centre gives you permission to use the platform. Everyone needs to
                        agree to these terms to use the platform.</p>
                    <h2 id="heading--conditions"><a href="#heading--conditions">Conditions for Use of the Platform</a>
                    </h2>
                    <p>Your permission to use the platform is subject to the following conditions:</p>
                    <ol>
                        <li>
                            <p>You must be at least thirteen years old.</p>
                        </li>
                        <li>
                            <p>You may no longer use the platform if the centre contacts you directly to say that you
                                may not.</p>
                        </li>
                        <li>
                            <p>You must use the platform in accordance with <a
                                    href="#heading--acceptable-use">Acceptable Use</a> and <a
                                    href="#heading--content-standards">Content Standards</a>.</p>
                        </li>
                    </ol>
                    <h2 id="heading--acceptable-use"><a href="#heading--acceptable-use">Acceptable Use</a></h2>
                    <ol>
                        <li>
                            <p>You may not break the law using the platform.</p>
                        </li>
                        <li>
                            <p>You may not use or try to use another’s account on the platform without their specific
                                permission.</p>
                        </li>
                        <li>
                            <p>You may not buy, sell, or otherwise trade in user names or other unique identifiers on
                                the platform.</p>
                        </li>
                        <li>
                            <p>You may not send advertisements, chain letters, or other solicitations through the
                                platform, or use the platform to gather addresses or other personal data for commercial
                                mailing lists or databases.</p>
                        </li>
                        <li>
                            <p>You may not automate access to the platform, or monitor the platform, such as with a web
                                crawler, browser plug-in or add-on, or other computer program that is not a web browser.
                                You may crawl the platform to index it for a publicly available search engine, if you
                                run one.</p>
                        </li>
                        <li>
                            <p>You may not use the platform to send e-mail to distribution lists, newsgroups, or group
                                mail aliases.</p>
                        </li>
                        <li>
                            <p>You may not falsely imply that you’re affiliated with or endorsed by the centre.</p>
                        </li>
                        <li>
                            <p>You may not hyperlink to images or other non-hypertext content on the platform on other
                                webpages.</p>
                        </li>
                        <li>
                            <p>You may not remove any marks showing proprietary ownership from materials you download
                                from the platform.</p>
                        </li>
                        <li>
                            <p>You may not show any part of the platform on other websites with
                                <code>&lt;iframe&gt;</code>.</p>
                        </li>
                        <li>
                            <p>You may not disable, avoid, or circumvent any security or access restrictions of the
                                platform.</p>
                        </li>
                        <li>
                            <p>You may not strain infrastructure of the platform with an unreasonable volume of
                                requests, or requests designed to impose an unreasonable load on information systems
                                underlying the platform.</p>
                        </li>
                        <li>
                            <p>You may not impersonate others through the platform.</p>
                        </li>
                        <li>
                            <p>You may not encourage or help anyone in violation of these terms.</p>
                        </li>
                    </ol>
                    <h2 id="heading--content-standards"><a href="#heading--content-standards">Content Standards</a></h2>
                    <ol>
                        <li>
                            <p>You may not submit content to the platform that is illegal, offensive, or otherwise
                                harmful to others. This includes content that is harassing, inappropriate, or abusive.
                            </p>
                        </li>
                        <li>
                            <p>You may not submit content to the platform that violates the law, infringes anyone’s
                                intellectual property rights, violates anyone’s privacy, or breaches agreements you have
                                with others.</p>
                        </li>
                        <li>
                            <p>You may not submit content to the platform containing malicious computer code, such as
                                computer viruses or spyware.</p>
                        </li>
                        <li>
                            <p>You may not submit content to the platform as a mere placeholder, to hold a particular
                                address, user name, or other unique identifier.</p>
                        </li>
                        <li>
                            <p>You may not use the platform to disclose information that you don’t have the right to
                                disclose, like others’ confidential or personal information.</p>
                        </li>
                    </ol>
                    <h2 id="heading--enforcement"><a href="#heading--enforcement">Enforcement</a></h2>
                    <p>The centre may investigate and prosecute violations of these terms to the fullest legal extent.
                        The centre may notify and cooperate with law enforcement authorities in prosecuting violations
                        of the law and these terms.</p>
                    <p>The centre reserves the right to change, redact and delete content on the platform for any
                        reason. If you believe someone has submitted content to the platform in violation of these
                        terms, <a href="#heading--contact">contact us immediately</a>.</p>
                    <h2 id="heading--your-account"><a href="#heading--your-account">Your Account</a></h2>
                    <p>You must create and log into an account to use some features of the platform.</p>
                    <p>To create an account, you must provide some information about yourself. If you create an account,
                        you agree to provide, at a minimum, a valid e-mail address, and to keep that address up-to-date.
                        You may close your account at any time by e-mailing <a
                            href="mailto:nagarjun@gnowledge.org">nagarjun@gnowledge.org</a>.</p>
                    <p>You agree to be responsible for all action taken using your account, whether authorized by you or
                        not, until you either close your account or notify the centre that your account has been
                        compromised. You agree to notify the centre immediately if you suspect your account has been
                        compromised. You agree to select a secure password for your account, and keep it secret.</p>
                    <p>The centre may restrict, suspend, or close your account on the platform according to its policy
                        for handling copyright-related takedown requests, or if the centre reasonably believes that
                        you’ve broken any rule in these terms.</p>
                    <h2 id="heading--your-content"><a href="#heading--your-content">Your Content</a></h2>
                    <p>Nothing in these terms gives the centre any ownership rights in intellectual property that you
                        share with the platform, such as your account information, posts, or other content you submit to
                        the platform. Nothing in these terms gives you any ownership rights in the centre’s intellectual
                        property, either.</p>
                    <p>Between you and the centre, you remain solely responsible for content you submit to the platform.
                        You agree not to wrongly imply that content you submit to the platform is sponsored or approved
                        by the centre. These terms do not obligate the centre to store, maintain, or provide copies of
                        content you submit, and to change it, according to these terms.</p>
                    <p>Content you submit to the platform belongs to you, and you decide what permission to give others
                        for it. But at a minimum, you license the centre to provide content that you submit to the
                        platform to other users of the platform. That special license allows the centre to copy,
                        publish, and analyze content you submit to the platform.</p>
                    <p>When content you submit is removed from the platform, whether by you or by the centre, the
                        centre’s special license ends when the last copy disappears from the centre’s backups, caches,
                        and other systems. Other licenses you apply to content you submit, such as <a
                            href="https://creativecommons.org" rel="nofollow noopener">Creative Commons</a> licenses,
                        may continue after your content is removed. Those licenses may give others, or the centre
                        itself, the right to share your content through the platform again.</p>
                    <p>Others who receive content you submit to the platform may violate the terms on which you license
                        your content. You agree that the centre will not be liable to you for those violations or their
                        consequences.</p>
                    <h2 id="heading--responsibility"><a href="#heading--responsibility">Your Responsibility</a></h2>
                    <p>You agree to indemnify the centre from legal claims by others related to your breach of these
                        terms, or breach of these terms by others using your account on the platform. Both you and the
                        centre agree to notify the other side of any legal claims for which you might have to indemnify
                        the centre as soon as possible. If the centre fails to notify you of a legal claim promptly, you
                        won’t have to indemnify the centre for damages that you could have defended against or mitigated
                        with prompt notice. You agree to allow the centre to control investigation, defense, and
                        settlement of legal claims for which you would have to indemnify the centre, and to cooperate
                        with those efforts. The centre agrees not to agree to any settlement that admits fault for you
                        or imposes obligations on you without your prior agreement.</p>
                    <h2 id="heading--disclaimers"><a href="#heading--disclaimers">Disclaimers</a></h2>
                    <p><em><strong>You accept all risk of using the platform and content on the platform. As far as the
                                law allows, the centre and its suppliers provide the platform as is, without any
                                warranty whatsoever.</strong></em></p>
                    <p>The platform may hyperlink to and integrate platforms and services run by others. The centre does
                        not make any warranty about services run by others, or content they may provide. Use of services
                        run by others may be governed by other terms between you and the one running service.</p>
                    <h2 id="heading--liability"><a href="#heading--liability">Limits on Liability</a></h2>
                    <p><em><strong>Neither the centre nor its suppliers will be liable to you for breach-of-contract
                                damages their personnel could not have reasonably foreseen when you agreed to these
                                terms.</strong></em></p>
                    <p><em><strong>As far as the law allows, the total liability to you for claims of any kind that are
                                related to the platform or content on the platform will be limited to $50.</strong></em>
                    </p>
                    <h2 id="heading--feedback"><a href="#heading--feedback">Feedback</a></h2>
                    <p>The centre welcomes your feedback and suggestions for the platform. See the <a
                            href="#heading--contact">Contact</a> section below for ways to get in touch with us.</p>
                    <p>You agree that the centre will be free to act on feedback and suggestions you provide, and that
                        the centre won’t have to notify you that your feedback was used, get your permission to use it,
                        or pay you. You agree not to submit feedback or suggestions that you believe might be
                        confidential or proprietary, to you or others.</p>
                    <h2 id="heading--termination"><a href="#heading--termination">Termination</a></h2>
                    <p>Either you or the centre may end the agreement written out in these terms at any time. When our
                        agreement ends, your permission to use the platform also ends.</p>
                    <p>The following provisions survive the end of our agreement: <a href="#heading--your-content">Your
                            Content</a>, <a href="#heading--feedback">Feedback</a>, <a
                            href="#heading--responsibility">Your Responsibility</a>, <a
                            href="#heading--disclaimers">Disclaimers</a>, <a href="#heading--liability">Limits on
                            Liability</a>, and <a href="#heading--general">General Terms</a>.</p>
                    <h2 id="heading--disputes"><a href="#heading--disputes">Disputes</a></h2>
                    <p>India will govern any dispute related to these terms or your use of the platform.</p>
                    <p>You and the centre agree to seek injunctions related to these terms only in state or federal
                        court in Mumbai. Neither you nor the centre will object to jurisdiction, platform, or venue in
                        those courts.</p>
                    <p><em><strong>Other than to seek an injunction or for claims under the Computer Fraud and Abuse
                                Act, you and the centre will resolve any Dispute by binding American Arbitration
                                Association arbitration. Arbitration will follow the AAA’s Commercial Arbitration Rules
                                and Supplementary Procedures for Consumer Related Disputes. Arbitration will happen in
                                San Francisco, California. You will settle any dispute as an individual, and not as part
                                of a class action or other representative proceeding, whether as the plaintiff or a
                                class member. No arbitrator will consolidate any dispute with any other arbitration
                                without the centre’s permission.</strong></em></p>
                    <p>Any arbitration award will include costs of the arbitration, reasonable attorneys’ fees, and
                        reasonable costs for witnesses. You and the centre may enter arbitration awards in any court
                        with jurisdiction.</p>
                    <h2 id="heading--general"><a href="#heading--general">General Terms</a></h2>
                    <p>If a provision of these terms is unenforceable as written, but could be changed to make it
                        enforceable, that provision should be modified to the minimum extent necessary to make it
                        enforceable. Otherwise, that provision should be removed.</p>
                    <p>You may not assign your agreement with the centre. The centre may assign your agreement to any
                        affiliate of the centre, any other centre that obtains control of the centre, or any other
                        centre that buys assets of the centre related to the platform. Any attempted assignment against
                        these terms has no legal effect.</p>
                    <p>Neither the exercise of any right under this Agreement, nor waiver of any breach of this
                        Agreement, waives any other breach of this Agreement.</p>
                    <p>These terms embody all the terms of agreement between you and the centre about use of the
                        platform. These terms entirely replace any other agreements about your use of the platform,
                        written or not.</p>
                    <h2 id="heading--contact"><a href="#heading--contact">Contact</a></h2>
                    <p>You may notify the centre under these terms, and send questions to the centre, at <a
                            href="mailto:nagarjun@gnowledge.org">nagarjun@gnowledge.org</a>.</p>
                    <p>The centre may notify you under these terms using the e-mail address you provide for your account
                        on the platform, or by posting a message to the homepage of the platform or your account page.
                    </p>
                    <h2 id="heading--changes"><a href="#heading--changes">Changes</a></h2>
                    <p>The centre last updated these terms on July 12, 2018, and may update these terms again. The
                        centre will post all updates to the platform. For updates that contain substantial changes, the
                        centre agrees to e-mail you, if you’ve created an account and provided a valid e-mail address.
                        The centre may also announce updates with special messages or alerts on the platform.</p>
                    <p>Once you get notice of an update to these terms, you must agree to the<br>
                        new terms in order to keep using the platform.</p>
                </div>















            </div>

            <div class='foot'>
                <p> MADE BY BITS 2020</p>
            </div>


        </div>
    </div>

    <script src="/js/ui.js"></script>

    <script>

function _myFunction2() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>



<!-- added here to be condeensed later -->


<style>
    @media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {
            display: none;
        }

        .topnav a.icon {
            float: right;
            display: block;
        }
    }

    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    @media screen and (max-width: 600px) {
        .topnav.responsive {
            position: relative;
        }

        .topnav.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    }

    .topnav {
        background-color: #333;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add an active class to highlight the current page */
    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        display: none;
    }


    /* --------------- */



    ._topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    ._topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    ._topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        background-color: #333;
        text-align: center;
    }

    /* Style the hamburger menu */
    ._topnav a._icon {
        background: #333;
        float: left;
        display: block;
    }

    /* Add a grey background color on mouse-over */
    ._topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    ._topnav a._active {
        background-color: #4CAF50;
        color: white;
        text-align: center;
    }
</style>

</html>
